<div class="feature">
  <div class="feature__inner row not-gutters">
    {% unless feature.align == 'left' %}
      <div class="feature__image col-12 col-md-6">
        {% if feature.image %}
          <img src="{{ feature.image | absolute_url }}"
            style="max-height:535px;" alt="FIO Addresses" data-pagespeed-url-hash="3091891063"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        {% endif %}
        {% if feature.video_id %}
          <iframe title="{{feature.heading}}" width="640" height="360"
            src="https://www.youtube.com/embed/{{feature.video_id}}?feature=oembed" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""></iframe>
        {% endif %}
      </div><!-- /.feature__image col-12 col-md-6 -->
    {% endunless %}
    <div class="feature__content col-12 col-md-6">
      <header class="feature__head">
        <h2 class="feature__title">{{feature.heading}}</h2><!-- /.feature__title -->
        {% if feature.subheading %}
          <span class="angled-bg{% if feature.subheading_style %} bg--blue-lighter{% else %} bg--blue{% endif %}">
            <span>{{feature.subheading}}</span>
          </span>
        {% endif %}
      </header><!-- /.feature__head -->

      <div class="feature__entry">
        <p></p>
        <div>{{feature.description | markdownify}}</div>
          {% if feature.subtext %}
            <p class="mt-3"><strong>{{feature.subtext}}</strong></p>
          {% endif %}
        <p></p>
      </div><!-- /.feature__entry -->
      {% if feature.button.url %}
        <div class="feature__actions">
          <a href="{% if feature.button.url contains 'http' %}{{feature.button.url}}{% else %}{{ feature.button.url | relative_url }}{% endif %}" class="btn btn-secondary">{{feature.button.text}}</a>
        </div><!-- /.feature__actions -->
      {% endif %}
    </div><!-- /.feature__content col-12 col-md-6 -->

    {% if feature.align == 'left' %}
      <div class="feature__image col-12 col-md-6">
        {% if feature.image %}
          <img src="{{ feature.image | absolute_url }}"
            style="max-height:535px;" alt="FIO Addresses" data-pagespeed-url-hash="3091891063"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        {% endif %}
        {% if feature.video_id %}
          <iframe title="{{feature.heading}}" width="640" height="360"
            src="https://www.youtube.com/embed/{{feature.video_id}}?feature=oembed" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""></iframe>
        {% endif %}
      </div><!-- /.feature__image col-12 col-md-6 -->
    {% endif %}
  </div><!-- /.feature__inner row not-gutters -->
</div><!-- /.feature -->
