<!--
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
-->
<!--stylesheets / link tags loaded here-->
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/sidebar.css" />
<!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />-->
<link rel="stylesheet" href="/assets/css/{{site.highlighting_css}}.css" />
<link rel="stylesheet" href="/assets/css/{{site.navbar_style}}.css" />
<link rel="stylesheet" href="/assets/css/customstyles.css" />

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/navgoco.jquery.min.js"></script>


