swagger: '2.0'
info:
  title: FIO Protocol API
  version: '1.0'
  description: FIO Protocol API
  license:
    name: MIT
  contact:
    url: http://fioprotocol.io
    email: info@fioprotocol.io
    name: FIO
servers:
- url: http://testnet.fioprotocol.io/v1/chain
  description: FIO Testnet server
paths:
  /get_pub_address:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              public_address:
                type: string
                description: Public address for requested FIO Address and token.
          examples:
            application/json:
              public_address: '0xab5801a7d398351b8be11c439e05c5b3259aec9b'
        '400':
          description: "Possible error messages:\n* \t\"Invalid FIO Address\"\n* \t\"Invalid Chain Code\"\n* \t\"Invalid Token Code\""
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: public_address
                  value: ''
                  error: Invalid public address format
        '404':
          description: |-
            Possible error messages:
            * "Public address not found"
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: Public address not found
      summary: /get_pub_address
      description: Returns a public address for specified token code and FIO Address.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - fio_address
              - chain_code
              - token_code
            properties:
              fio_address:
                type: string
                title: FIO Address
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
              chain_code:
                type: string
                title: Token/chain code
                minLength: 1
                maxLength: 10
                pattern: '^[A-Z0-9]+$'
              token_code:
                type: string
                title: Token/chain code
                minLength: 1
                maxLength: 10
                pattern: '^[A-Z0-9]+$'
            example:
              fio_address: purse@alice
              chain_code: FIO
              token_code: FIO
      operationId: get_pub_address
  /avail_check:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              is_registered:
                type: integer
                example: 1
                description: |-
                  * 1 - FIO Address or Domain is registered
                  * 0 - FIO Address or Domain is not registered
          examples:
            application/json:
              is_registered: 1
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Name"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_name
                  value: _.@
                  error: Invalid FIO Name
      summary: FIO Address or Domain availability check
      description: Checks if a FIO Address or FIO Domain is available for registration.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - fio_name
            properties:
              fio_name:
                type: string
                description: FIO Address or FIO Domain to check.
            example:
              fio_name: purse@alice
      operationId: avail_check
  /get_fio_names:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              fio_domains:
                type: array
                items:
                  type: object
                  properties:
                    fio_domain:
                      type: string
                      title: FIO Domain
                      minLength: 1
                      maxLength: 62
                      pattern: '^[a-z0-9-]+$'
                    expiration:
                      type: string
                      format: date-time
                      title: Date/time
                    is_public:
                      type: integer
                      description: |-
                        * 0 - domain is not public
                        * 1 - domain is public
              fio_addresses:
                type: array
                items:
                  type: object
                  properties:
                    fio_address:
                      type: string
                      title: FIO Address
                      minLength: 3
                      maxLength: 64
                      pattern: >-
                        ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
                    expiration:
                      type: string
                      format: date-time
                      title: Date/time
          examples:
            application/json:
              fio_domains:
                - fio_domain: alice
                  expiration: '2020-09-11T18:30:56'
                  is_public: 0
              fio_addresses:
                - fio_address: purse@alice
                  expiration: '2020-09-11T18:30:56'
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: |-
            Possible error messages:
            * "No FIO names"
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No FIO names
      summary: Get FIO Names
      description: Returns FIO Addresses and FIO Domains owned by this public key.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
            required:
              - fio_public_key
            example:
              fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
      operationId: get_fio_names
  /get_pending_fio_requests:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              requests:
                type: array
                description: Multiple requests may be returned. All requests are returned.
                items:
                  type: object
                  properties:
                    fio_request_id:
                      type: string
                      description: Id of that funds request.
                    payer_fio_address:
                      type: string
                      description: >-
                        FIO Address of the payer. This address initiated
                        payment.
                    payee_fio_address:
                      type: string
                      description: >-
                        FIO Address of the payee. This address is receiving
                        payment.
                    payer_fio_public_key:
                      type: string
                      description: FIO public key of the payer.
                    payee_fio_public_key:
                      type: string
                      description: FIO public key of the payee.
                    content:
                      type: object
                      title: FIO Request encrypted content
                      description: >-
                        Certain content inside FIO Request is encrypted and
                        packed into this field.


                        Min 64 characters

                        Max 296 characters
                      properties:
                        payee_public_address:
                          type: object
                          properties: {}
                          title: Native Blockchain Public Address
                          description: "This is the public address on another blockchain. Both integrated addresses as well as URI Scheme are supported.\n\n**Integrated Address**\nIf the blockchain supports it, an integrated address may be passed in just like standard public address. The FIO protocol does not perform validation on the passed string.\n\n**URI Scheme**\nFIO Protocol will support formatting of public addresses using URI were certain attributes are appended to the public address following a '?' and delimited with '&'. To allow inter-wallet operability, the following standardized parameters will be supported in official FIO Protocol SDKs.\n\n**Parameters**\n* dt - Ripple\n* memo - Any - use as generic memo field\n* memo_id -\tStellar\n* memo_text -\tStellar\n* memo_hash -\tStellar\n* memo_return -\tStellar\n* payment_id - Monero\n"
                        amount:
                          type: string
                          description: Amount requested.
                        token_code:
                          type: string
                          title: Token/chain code
                          minLength: 1
                          maxLength: 10
                          pattern: '^[A-Z0-9]+$'
                        memo:
                          type: string
                        hash:
                          type: string
                        offline_url:
                          type: string
                        future_use1:
                          type: string
                        future_use2:
                          type: string
                        future_use3:
                          type: string
                        future_use4:
                          type: string
                        future_use5:
                          type: string
                      required:
                        - payee_public_address
                        - amount
                        - token_code
                        - memo
                        - hash
                        - offline_url
                        - future_use1
                        - future_use2
                        - future_use3
                        - future_use4
                        - future_use5
                    time_stamp:
                      type: string
                      description: Timestamp of request
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              requests:
                - fio_request_id: '10'
                  payer_fio_address: purse@alice
                  payee_fio_address: crypto@bob
                  payer_fio_public_key: FIO7167ErgCveJvuonvrEvVGhdWnkP4AEMfqvEd8s8raMkbbAXqhx
                  payee_fio_public_key: FIO7KGdMYj4ZMY2nUX9EaZu3G3GxZhTNXUq1tsNqC5rcP9rcmvWHq
                  content: ...
                  time_stamp: '2020-09-11T18:30:56'
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "No pending FIO Requests"
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No pending FIO Requests
      summary: Get pending FIO Requests
      description: Pending requests call polls for any pending requests sent to a receiver.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
            required:
              - fio_public_key
            example:
              fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit: 100
              offset: 0
      operationId: get_pending_fio_requests
  /get_fio_balance:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              balance:
                type: integer
                description: SUF balance associated with supplied public key.
          examples:
            application/json:
              balance: 100000000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: |-
            Possible error messages:
            * "Public key not found"
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: Public key not found
      summary: Get FIO balance
      description: Retrieves balance of FIO tokens.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
            required:
              - fio_public_key
            example:
              fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
      operationId: get_fio_balance
  /get_fee:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              fee:
                type: integer
                description: 'Amount of fee in SUFs '
          examples:
            application/json:
              fee: 100000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid end point"
            * "Invalid FIO Address"
            * "No such FIO Address"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: end_point
                  value: blah
                  error: Invalid end point
      description: Computes and returns fee amount for specific call and specific user.
      summary: Get fee amount
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              end_point:
                type: string
                description: 'Name of API call end point, e.g. add_pub_address'
              fio_address:
                type: string
                title: FIO Address
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
            required:
              - end_point
              - fio_address
            example:
              end_point: add_pub_address
              fio_address: alice@purse
          description: |-
            Valid FIO Address required on the following calls:
            * add_pub_address
            * new_funds_request
            * reject_funds_request
            * record_obt_data
      operationId: get_fee
  /get_info:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              server_version:
                type: string
              chain_id:
                type: string
              head_block_num:
                type: integer
              last_irreversible_block_num:
                type: integer
              last_irreversible_block_id:
                type: string
              head_block_id:
                type: string
              head_block_time:
                type: string
              head_block_producer:
                type: string
              virtual_block_cpu_limit:
                type: integer
              virtual_block_net_limit:
                type: integer
              block_cpu_limit:
                type: integer
              block_net_limit:
                type: integer
              server_version_string:
                type: string
          examples:
            application/json:
              server_version: 8578680f
              chain_id: cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f
              head_block_num: 1201696
              last_irreversible_block_num: 1201656
              last_irreversible_block_id: 001255f8d3e90e4573265d5ee71a64d6a20dccee5226a0c2e30b4c0a1b082068
              head_block_id: 00125620fac409486e7fea1bebb0b506f8beb679b250a76e95e6f50d02e85d3f
              head_block_time: '2019-09-27T15:28:43.500'
              head_block_producer: 5spujqoyq4ie
              virtual_block_cpu_limit: 200000000
              virtual_block_net_limit: 1048576000
              block_cpu_limit: 199900
              block_net_limit: 1048576
              server_version_string: v1.2.1-2421-g92993a283
      summary: Get FIO blockchain information
      description: Retrieves information about the FIO blockchain.
      operationId: get_info
  /get_block:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              timestamp:
                type: string
              producer:
                type: string
              confirmed:
                type: integer
              previous:
                type: string
              transaction_mroot:
                type: string
              action_mroot:
                type: string
              schedule_version:
                type: integer
              new_producers:
                type: 'null'
              header_extensions:
                type: array
                items:
                  type: object
              producer_signature:
                type: string
              transactions:
                type: array
                items:
                  type: object
              block_extensions:
                type: array
                items:
                  type: object
              id:
                type: string
              block_num:
                type: integer
              ref_block_prefix:
                type: integer
          examples:
            application/json:
              timestamp: '2019-09-27T15:28:23.500'
              producer: 5spujqoyq4ie
              confirmed: 0
              previous: 001255f72bd0a154355dddec8391de0f20a3619ee6802535e6bd8f4ea2caf0df
              transaction_mroot: '0000000000000000000000000000000000000000000000000000000000000000'
              action_mroot: d8552b686d6b520d39bf27c3bb49968b5ca52e370467962e42edc151437d01c6
              schedule_version: 2
              new_producers: null
              header_extensions: []
              producer_signature: >-
                SIG_K1_K5WD9qbSfJwMz1doYBn5znfFsPh9UiV2p9XAbkDDV2nvpQXq2D23EU6vuGSndSZ7FATqkNn5dqZFtaBricHRJvtgGFZ9pG
              transactions: []
              block_extensions: []
              id: 001255f8d3e90e4573265d5ee71a64d6a20dccee5226a0c2e30b4c0a1b082068
              block_num: 1201656
              ref_block_prefix: 1583162995
      summary: Get block information
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              block_num_or_id:
                type: string
                description: >-
                  last_irreversible_block_num or last_irreversible_block_id from
                  /get_info
            required:
              - block_num_or_id
            example:
              block_num_or_id: '39570'
      description: Retrieves information about the specific block.
      operationId: get_block
  /get_raw_abi:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              account_name:
                type: string
              code_hash:
                type: string
              abi_hash:
                type: string
              abi:
                type: string
          examples:
            application/json:
              account_name: fio.system
              code_hash: 0e5e404480e07b5b1c9d0d8cfbe4f04b8f3fd3477a42251bab8191e6e6c241a8
              abi_hash: d98bbfa97018efcdfbbf42b62406707bc17498e630f58e4529029af71042d861
              abi: >-
                DmVvc2lvOjphYmkvMS4wABMHZmlvbmFtZQAIBG5hbWUGc3RyaW5nCG5hbWVoYXNoBnVpbnQ2NAZkb21haW4Gc3RyaW5nCmRvbWFpbmhhc2gGdWludDY0CmV4cGlyYXRpb24GdWludDY0DW93bmVyX2FjY291bnQEbmFtZQlhZGRyZXNzZXMIc3RyaW5nW10XYnVuZGxlZWxpZ2libGVjb3VudGRvd24GdWludDY0BmRvbWFpbgAFBG5hbWUGc3RyaW5nCmRvbWFpbmhhc2gGdWludDY0CWlzX3B1YmxpYwV1aW50OApleHBpcmF0aW9uBnVpbnQzMgdhY2NvdW50BnVpbnQ2NAljaGFpbkxpc3QAAwRuYW1lBnN0cmluZwJpZAZ1aW50NjQJY2hhaW5oYXNoBnVpbnQzMgplb3Npb19uYW1lAAMHYWNjb3VudARuYW1lCWNsaWVudGtleQZzdHJpbmcHa2V5aGFzaAZ1aW50NjQJY2hhaW5wYWlyAAMFaW5kZXgGdWludDY0CWNoYWlubmFtZQZzdHJpbmcJY2hhaW5oYXNoBnVpbnQ2NApyZWdhZGRyZXNzAAULZmlvX2FkZHJlc3MGc3RyaW5nFG93bmVyX2Zpb19wdWJsaWNfa2V5BnN0cmluZwdtYXhfZmVlBnVpbnQ2NAVhY3RvcgRuYW1lBHRwaWQGc3RyaW5nCmFkZGFkZHJlc3MABgtmaW9fYWRkcmVzcwZzdHJpbmcKdG9rZW5fY29kZQZzdHJpbmcOcHVibGljX2FkZHJlc3MGc3RyaW5nB21heF9mZWUGdWludDY0BWFjdG9yBG5hbWUEdHBpZAZzdHJpbmcJcmVnZG9tYWluAAUKZmlvX2RvbWFpbgZzdHJpbmcUb3duZXJfZmlvX3B1YmxpY19rZXkGc3RyaW5nB21heF9mZWUGdWludDY0BWFjdG9yBG5hbWUEdHBpZAZzdHJpbmcLcmVuZXdkb21haW4ABApmaW9fZG9tYWluBnN0cmluZwdtYXhfZmVlBnVpbnQ2NAR0cGlkBnN0cmluZwVhY3RvcgRuYW1lDHJlbmV3YWRkcmVzcwAEC2Zpb19hZGRyZXNzBnN0cmluZwdtYXhfZmVlBnVpbnQ2NAR0cGlkBnN0cmluZwVhY3RvcgRuYW1lCWV4cGRvbWFpbgACBWFjdG9yBG5hbWUGZG9tYWluBnN0cmluZwxleHBhZGRyZXNzZXMABAVhY3RvcgRuYW1lBmRvbWFpbgZzdHJpbmcOYWRkcmVzc19wcmVmaXgGc3RyaW5nF251bWJlcl9hZGRyZXNzZXNfdG9fYWRkBnVpbnQ2NAxzZXRkb21haW5wdWIABQpmaW9fZG9tYWluBnN0cmluZwlpc19wdWJsaWMFdWludDgHbWF4X2ZlZQZ1aW50NjQFYWN0b3IEbmFtZQR0cGlkBnN0cmluZwtidXJuZXhwaXJlZAAACnJlbW92ZW5hbWUAAAxyZW1vdmVkb21haW4AAApybXZhZGRyZXNzAAALZGVjcmNvdW50ZXIAAQtmaW9fYWRkcmVzcwZzdHJpbmcKYmluZDJlb3NpbwADB2FjY291bnQEbmFtZQpjbGllbnRfa2V5BnN0cmluZwhleGlzdGluZwRib29sDQAAxuqmZJi6CnJlZ2FkZHJlc3MAAADG6qZkUjIKYWRkYWRkcmVzcwAAAJjOSJqYuglyZWdkb21haW4AAKYzkiauproLcmVuZXdkb21haW4AgLG6KRmuproMcmVuZXdhZGRyZXNzAAAAmM5ImmpXCWV4cGRvbWFpbgCAFcbqpmRqVwxleHBhZGRyZXNzZXMAAJK6rnY1rz4LYnVybmV4cGlyZWQAAICSZqpNpboKcmVtb3ZlbmFtZQAwnZE0qU2lugxyZW1vdmVkb21haW4AAADG6qZktrwKcm12YWRkcmVzcwBwdJ3OSJqywgxzZXRkb21haW5wdWIAAAB1mCqRpjsKYmluZDJlb3NpbwAEAAAAWEkzqVsDaTY0AQRuYW1lAQZzdHJpbmcHZmlvbmFtZQAAAABPZyRNA2k2NAEEbmFtZQEGc3RyaW5nBmRvbWFpbgAAAADg6UxDA2k2NAEEbmFtZQEGc3RyaW5nCWNoYWluTGlzdABANTJPTREyA2k2NAEHYWNjb3VudAEGdWludDY0CmVvc2lvX25hbWUAAAAA=
      description: The ABI is required to properly pack content of signed calls.
      summary: Get ABI for specific account name
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              account_name:
                type: string
                description: Account name. Check request definition for specific call.
            required:
              - account_name
            example:
              account_name: fio.system
      operationId: get_raw_abi
  /get_producers:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              producers:
                type: array
                items:
                  type: object
                  properties:
                    owner:
                      type: string
                    fio_address:
                      type: string
                    total_votes:
                      type: string
                    producer_fio_public_key:
                      type: string
                    is_active:
                      type: integer
                    url:
                      type: string
                    unpaid_blocks:
                      type: integer
                    last_claim_time:
                      type: string
                    location:
                      type: integer
              total_producer_vote_weight:
                type: string
              more:
                type: string
          examples:
            application/json:
              producers:
                - owner: fioproducerd
                  fio_address: ''
                  total_votes: '4999000000000.00000000000000000'
                  producer_fio_public_key: FIO79vbwYtjhBVnBRYDjhCyxRFVr6JsFfVrLVhUKoqFTnceZtPvAU
                  is_active: 1
                  url: ''
                  unpaid_blocks: 302361
                  last_claim_time: '2019-09-20T16:35:26.000'
                  location: 0
                - owner: fioproducerc
                  fio_address: ''
                  total_votes: '3999000000000.00000000000000000'
                  producer_fio_public_key: FIO79vbwYtjhBVnBRYDjhCyxRFVr6JsFfVrLVhUKoqFTnceZtPvAU
                  is_active: 1
                  url: ''
                  unpaid_blocks: 302349
                  last_claim_time: '2019-09-20T16:35:25.500'
                  location: 0
                - owner: fioproducerb
                  fio_address: ''
                  total_votes: '2999000000000.00000000000000000'
                  producer_fio_public_key: FIO79vbwYtjhBVnBRYDjhCyxRFVr6JsFfVrLVhUKoqFTnceZtPvAU
                  is_active: 1
                  url: ''
                  unpaid_blocks: 302352
                  last_claim_time: '2019-09-20T16:35:25.500'
                  location: 0
                - owner: 5spujqoyq4ie
                  fio_address: ''
                  total_votes: '1999000000000.00000000000000000'
                  producer_fio_public_key: FIO77odcm3LYr6YduUxf83a4jp4pQ4YvKAjBkHJnLxq2SsgNSc13u
                  is_active: 1
                  url: ''
                  unpaid_blocks: 302364
                  last_claim_time: '2019-09-20T16:35:25.500'
                  location: 0
                - owner: 2ugokdhavqow
                  fio_address: pawel366688@woohoo56311
                  total_votes: '0.00000000000000000'
                  producer_fio_public_key: FIO1111111111111111111111111111111114T1Anm
                  is_active: 0
                  url: h
                  unpaid_blocks: 0
                  last_claim_time: '2019-09-26T22:40:30.000'
                  location: 80
                - owner: gev2yeim1cjy
                  fio_address: pawel554427@woohoo56311
                  total_votes: '998769980000000.00000000000000000'
                  producer_fio_public_key: FIO1111111111111111111111111111111114T1Anm
                  is_active: 0
                  url: ''
                  unpaid_blocks: 0
                  last_claim_time: '2019-09-26T22:40:22.000'
                  location: 80
              total_producer_vote_weight: '1012765980000000.00000000000000000'
              more: ''
        '400':
          description: |-
            Possible error messages:
            * "Invalid limit"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: limit
                  value: '-100'
                  error: Invalid limit
      summary: Get a list of current block producers
      description: This call returns all block producers and their scaled votes.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              limit:
                type: string
                description: Total number of producers to retrieve
              lower_bound:
                type: string
              json:
                type: boolean
                description: Return result in JSON format?
            example:
              limit: '10'
              lower_bound: ...........1f
              json: true
      operationId: get_producers
  /register_fio_address:
    post:
      responses:
        '202':
          description: >-
            This is a generic Signed call response. The specific response to
            this call is contained in
            processed->action_traces->receipt->response. See **[CONTENT]** for
            definition of the that response.
          schema:
            type: object
            properties:
              transaction_id:
                type: string
              processed:
                type: object
                properties:
                  id:
                    type: string
                  block_num:
                    type: integer
                  block_time:
                    type: string
                  producer_block_id:
                    type: 'null'
                  receipt:
                    type: object
                    properties:
                      status:
                        type: string
                      cpu_usage_us:
                        type: integer
                      net_usage_words:
                        type: integer
                  elapsed:
                    type: integer
                  net_usage:
                    type: integer
                  scheduled:
                    type: boolean
                  action_traces:
                    type: array
                    items:
                      type: object
                      properties:
                        receipt:
                          type: object
                          properties:
                            receiver:
                              type: string
                            response:
                              type: string
                            act_digest:
                              type: string
                            global_sequence:
                              type: integer
                            recv_sequence:
                              type: integer
                            auth_sequence:
                              type: array
                              items:
                                type: integer
                            code_sequence:
                              type: integer
                            abi_sequence:
                              type: integer
                        act:
                          type: object
                          properties:
                            account:
                              type: string
                            name:
                              type: string
                            authorization:
                              type: array
                              items:
                                type: object
                                properties:
                                  actor:
                                    type: string
                                  permission:
                                    type: string
                            data:
                              type: object
                              properties:
                                fio_domain:
                                  type: string
                                owner_fio_public_key:
                                  type: string
                                max_fee:
                                  type: integer
                                actor:
                                  type: string
                                tpid:
                                  type: string
                            hex_data:
                              type: string
                        context_free:
                          type: boolean
                        elapsed:
                          type: integer
                        console:
                          type: string
                        trx_id:
                          type: string
                        block_num:
                          type: integer
                        block_time:
                          type: string
                        producer_block_id:
                          type: 'null'
                        account_ram_deltas:
                          type: array
                          items:
                            type: object
                            properties:
                              account:
                                type: string
                              delta:
                                type: integer
                        except:
                          type: 'null'
                        inline_traces:
                          type: array
                          items:
                            type: object
                            properties:
                              receipt:
                                type: object
                                properties:
                                  receiver:
                                    type: string
                                  response:
                                    type: string
                                  act_digest:
                                    type: string
                                  global_sequence:
                                    type: integer
                                  recv_sequence:
                                    type: integer
                                  auth_sequence:
                                    type: array
                                    items:
                                      type: integer
                                  code_sequence:
                                    type: integer
                                  abi_sequence:
                                    type: integer
                              act:
                                type: object
                                properties:
                                  account:
                                    type: string
                                  name:
                                    type: string
                                  authorization:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        actor:
                                          type: string
                                        permission:
                                          type: string
                                  data:
                                    type:
                                      - object
                                      - string
                                    properties:
                                      from:
                                        type: string
                                      to:
                                        type: string
                                      quantity:
                                        type: string
                                      memo:
                                        type: string
                                  hex_data:
                                    type: string
                              context_free:
                                type: boolean
                              elapsed:
                                type: integer
                              console:
                                type: string
                              trx_id:
                                type: string
                              block_num:
                                type: integer
                              block_time:
                                type: string
                              producer_block_id:
                                type: 'null'
                              account_ram_deltas:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    account:
                                      type: string
                                    delta:
                                      type: integer
                              except:
                                type: 'null'
                              inline_traces:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    receipt:
                                      type: object
                                      properties:
                                        receiver:
                                          type: string
                                        response:
                                          type: string
                                        act_digest:
                                          type: string
                                        global_sequence:
                                          type: integer
                                        recv_sequence:
                                          type: integer
                                        auth_sequence:
                                          type: array
                                          items:
                                            type: integer
                                        code_sequence:
                                          type: integer
                                        abi_sequence:
                                          type: integer
                                    act:
                                      type: object
                                      properties:
                                        account:
                                          type: string
                                        name:
                                          type: string
                                        authorization:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              actor:
                                                type: string
                                              permission:
                                                type: string
                                        data:
                                          type: object
                                          properties:
                                            from:
                                              type: string
                                            to:
                                              type: string
                                            quantity:
                                              type: string
                                            memo:
                                              type: string
                                        hex_data:
                                          type: string
                                    context_free:
                                      type: boolean
                                    elapsed:
                                      type: integer
                                    console:
                                      type: string
                                    trx_id:
                                      type: string
                                    block_num:
                                      type: integer
                                    block_time:
                                      type: string
                                    producer_block_id:
                                      type: 'null'
                                    account_ram_deltas:
                                      type: array
                                      items:
                                        type: object
                                    except:
                                      type: 'null'
                                    inline_traces:
                                      type: array
                                      items:
                                        type: object
                  except:
                    type: 'null'
            title: Signed transaction response
          examples:
            application/json:
              transaction_id: 84409d5141043921be9384cd62ddff80d6e9435273cd5c95f96b6ba19c2137cd
              processed:
                id: >-
                  84409d5141043921be9384cd62ddff80d6e9435273cd5c95f96b6ba19c2137cd
                block_num: 1201721
                block_time: '2019-09-27T15:28:56.000'
                producer_block_id: null
                receipt:
                  status: executed
                  cpu_usage_us: 2403
                  net_usage_words: 17
                elapsed: 2403
                net_usage: 136
                scheduled: false
                action_traces:
                  - receipt:
                      receiver: fio.address
                      response: >-
                        {"expiration":"2020-09-26T15:28:56","fee_collected":5000000000,"status":"OK"}
                      act_digest: >-
                        51b6825f1b8c639a3071c0267d29d6ff40b11a9cbcd094885dcd69da92d2a6a1
                      global_sequence: 1212122
                      recv_sequence: 42
                      auth_sequence:
                        - - gev2yeim1cjy
                          - 75
                      code_sequence: 1
                      abi_sequence: 1
                    act:
                      account: fio.address
                      name: regaddress
                      authorization:
                        - actor: gev2yeim1cjy
                          permission: active
                      data:
                        fio_address: pawel554427@woohoo56311
                        owner_fio_public_key: ''
                        max_fee: 5000000000
                        actor: gev2yeim1cjy
                        tpid: ''
                      hex_data: >-
                        17706177656c3535343432373a776f6f686f6f35363331310000f2052a01000000e01f0ad2292fb66200
                    context_free: false
                    elapsed: 1913
                    console: >
                      OWNER:gev2yeim1cjy...Value:7112924518142320608...Key:FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj...hash:18446744073642438656

                      1601134136 INSIDE.   2020   TESTINSIDE.   5000000000

                      fionamefound: 

                      Cannot register TPID or FIO Address not found. The
                      transaction will continue without TPID payment.
                    trx_id: >-
                      84409d5141043921be9384cd62ddff80d6e9435273cd5c95f96b6ba19c2137cd
                    block_num: 1201721
                    block_time: '2019-09-27T15:28:56.000'
                    producer_block_id: null
                    account_ram_deltas:
                      - account: fio.address
                        delta: 646
                    except: null
                    inline_traces:
                      - receipt:
                          receiver: fio.token
                          response: ''
                          act_digest: >-
                            41051fa782f88f79085466aa9f1aff1f918a69b8a3a82a0554060aaf1e8ea5d2
                          global_sequence: 1212123
                          recv_sequence: 84
                          auth_sequence:
                            - - gev2yeim1cjy
                              - 76
                          code_sequence: 1
                          abi_sequence: 1
                        act:
                          account: fio.token
                          name: transfer
                          authorization:
                            - actor: gev2yeim1cjy
                              permission: active
                          data:
                            from: gev2yeim1cjy
                            to: fio.treasury
                            quantity: 5.000000000 FIO
                            memo: FIO API fees. Thank you.
                          hex_data: >-
                            e01f0ad2292fb662e0afc646dd0ca85b00f2052a010000000946494f000000001846494f2041504920666565732e205468616e6b20796f752e
                        context_free: false
                        elapsed: 129
                        console: ''
                        trx_id: >-
                          84409d5141043921be9384cd62ddff80d6e9435273cd5c95f96b6ba19c2137cd
                        block_num: 1201721
                        block_time: '2019-09-27T15:28:56.000'
                        producer_block_id: null
                        account_ram_deltas: []
                        except: null
                        inline_traces:
                          - receipt:
                              receiver: gev2yeim1cjy
                              response: ''
                              act_digest: >-
                                41051fa782f88f79085466aa9f1aff1f918a69b8a3a82a0554060aaf1e8ea5d2
                              global_sequence: 1212124
                              recv_sequence: 19
                              auth_sequence:
                                - - gev2yeim1cjy
                                  - 77
                              code_sequence: 1
                              abi_sequence: 1
                            act:
                              account: fio.token
                              name: transfer
                              authorization:
                                - actor: gev2yeim1cjy
                                  permission: active
                              data:
                                from: gev2yeim1cjy
                                to: fio.treasury
                                quantity: 5.000000000 FIO
                                memo: FIO API fees. Thank you.
                              hex_data: >-
                                e01f0ad2292fb662e0afc646dd0ca85b00f2052a010000000946494f000000001846494f2041504920666565732e205468616e6b20796f752e
                            context_free: false
                            elapsed: 3
                            console: ''
                            trx_id: >-
                              84409d5141043921be9384cd62ddff80d6e9435273cd5c95f96b6ba19c2137cd
                            block_num: 1201721
                            block_time: '2019-09-27T15:28:56.000'
                            producer_block_id: null
                            account_ram_deltas: []
                            except: null
                            inline_traces: []
                          - receipt:
                              receiver: fio.treasury
                              response: ''
                              act_digest: >-
                                41051fa782f88f79085466aa9f1aff1f918a69b8a3a82a0554060aaf1e8ea5d2
                              global_sequence: 1212125
                              recv_sequence: 113
                              auth_sequence:
                                - - gev2yeim1cjy
                                  - 78
                              code_sequence: 1
                              abi_sequence: 1
                            act:
                              account: fio.token
                              name: transfer
                              authorization:
                                - actor: gev2yeim1cjy
                                  permission: active
                              data:
                                from: gev2yeim1cjy
                                to: fio.treasury
                                quantity: 5.000000000 FIO
                                memo: FIO API fees. Thank you.
                              hex_data: >-
                                e01f0ad2292fb662e0afc646dd0ca85b00f2052a010000000946494f000000001846494f2041504920666565732e205468616e6b20796f752e
                            context_free: false
                            elapsed: 11
                            console: ''
                            trx_id: >-
                              84409d5141043921be9384cd62ddff80d6e9435273cd5c95f96b6ba19c2137cd
                            block_num: 1201721
                            block_time: '2019-09-27T15:28:56.000'
                            producer_block_id: null
                            account_ram_deltas: []
                            except: null
                            inline_traces: []
                      - receipt:
                          receiver: fio.treasury
                          response: ''
                          act_digest: >-
                            1a7775344923ca0ff6340e6c0ae2d246ef2899f908a550741d0cfe02d4ce2c0d
                          global_sequence: 1212126
                          recv_sequence: 114
                          auth_sequence:
                            - - fio.system
                              - 51
                          code_sequence: 1
                          abi_sequence: 1
                        act:
                          account: fio.treasury
                          name: fdtnrwdupdat
                          authorization:
                            - actor: fio.system
                              permission: active
                          data: 00e1f50500000000
                        context_free: false
                        elapsed: 51
                        console: ''
                        trx_id: >-
                          84409d5141043921be9384cd62ddff80d6e9435273cd5c95f96b6ba19c2137cd
                        block_num: 1201721
                        block_time: '2019-09-27T15:28:56.000'
                        producer_block_id: null
                        account_ram_deltas:
                          - account: fio.treasury
                            delta: 0
                        except: null
                        inline_traces: []
                      - receipt:
                          receiver: fio.treasury
                          response: ''
                          act_digest: >-
                            f549782fb7ac5903d111ca2e52dd25599b4220ff6958431da5c493cdc97cefca
                          global_sequence: 1212127
                          recv_sequence: 115
                          auth_sequence:
                            - - fio.system
                              - 52
                          code_sequence: 1
                          abi_sequence: 1
                        act:
                          account: fio.treasury
                          name: bppoolupdate
                          authorization:
                            - actor: fio.system
                              permission: active
                          data: '0011102401000000'
                        context_free: false
                        elapsed: 34
                        console: ''
                        trx_id: >-
                          84409d5141043921be9384cd62ddff80d6e9435273cd5c95f96b6ba19c2137cd
                        block_num: 1201721
                        block_time: '2019-09-27T15:28:56.000'
                        producer_block_id: null
                        account_ram_deltas:
                          - account: fio.treasury
                            delta: 0
                        except: null
                        inline_traces: []
                except: null
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO address"
            * "FIO address already registered"
            * "FIO Domain not registered"
            * "FIO Domain expired"
            * "FIO Domain is not public. Only owner can create FIO Addresses."
            * "Invalid FIO Public Key"
            * "Invalid fee value"
            * "Insufficient funds to cover fee"
            * "Fee exceeds supplied maximum"
            * "TPID must be empty or valid FIO address"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_address
                  value: purse@alice
                  error: FIO address already registered
        '403':
          description: |-
            Possible triggers:
            * Signer's FIO Public Key does not match actor
          schema:
            type: object
            properties: {}
            description: >-
              HTTP code 403 is returned when the request signature is not valid
              or this user is not allowed to sign this transaction.
            title: Error 403
          examples:
            application/json:
              type: invalid_signature
              message: Request signature not valid or not allowed.
      summary: '[SIGNED] Register FIO Address'
      description: Registers a FIO Address on the FIO blockchain.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              signatures:
                type: array
                items:
                  type: string
              compression:
                type: string
              packed_context_free_data:
                type: string
              packed_trx:
                type: string
            title: Signed transaction request
            example:
              signatures:
                - >-
                  SIG_K1_K3EhDxWwjn4vudBjahWngntyhWgzt7vzm95ni1avnuLNNmWrGnsii2p6TGU3hZGa4SA6JkYNuACs6nZx7wdD88qzDLToGC
              compression: none
              packed_context_free_data: ''
              packed_trx: >-
                c32b8e5df85573265d5e0000000001008054197b0ca85b0000c6eaa66498ba01e01f0ad2292fb66200000000a8ed32322a17706177656c3535343432373a776f6f686f6f35363331310000f2052a01000000e01f0ad2292fb6620000
          description: >-
            This request needs to be packed and signed. See **Contents** for the
            definition of the object before it's packed and signed.
      tags: []
      operationId: register_fio_address
    get:
      responses:
        '200':
          description: >-
            This section defines only the contents of the response returned in
            processed->action_traces->receipt->response string. See Signed call
            section for the definition of the actual response.
          schema:
            type: object
            properties:
              status:
                type: string
                description: OK
              expiration:
                type: string
                format: date-time
                title: Date/time
              fee_collected:
                title: Fee collected
                description: Amount of SUFs collected as fee
                type: integer
          examples:
            application/json:
              status: OK
              expiration: '2020-09-11T18:30:56'
              fee_collected: 30000000000
            new:
              status: OK
              expiration: '2020-09-11T18:30:56'
              fee_collected: 30000000000
      summary: '[CONTENT] Register FIO Address'
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_address:
                type: string
                title: FIO Address
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
                description: >-
                  See [FIO Address
                  format](https://kb.fioprotocol.io/fio-protocol/fio-addresses/format)


                  Please note that FIO Address is case insensitive. If upper
                  case characters are passed in, they will be converted to lower
                  case.
              owner_fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
              max_fee:
                type: integer
                title: Max fee
                description: >-
                  Maximum amount of SUFs the user is willing to pay for fee.
                  Should be preceded by /get_fee for correct value.
              tpid:
                type: string
                title: TPID
                description: |-
                  * FIO Address of the wallet which generates this transaction.
                  * This FIO Address will be paid 10% of the fee.
                  * See FIO Protocol#TPIDs for details.
                  * Set to empty if not known.
              actor:
                type: string
                title: Actor
                description: 'See [Generating actor](/actor)'
            required:
              - fio_address
              - owner_fio_public_key
              - max_fee
              - tpid
              - actor
            example:
              fio_address: purse@alice
              owner_fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              max_fee: 30000000000
              tpid: rewards@wallet
              actor: aftyershcu22
          description: >-
            This section defines the object which needs to be created before
            it's packed and signed. See Signed call section for the definition
            of the actual request.
      description: >-
        ### This is not an actual api endpoint

        This section defines the object which needs to be created before it's
        packed and signed and the response object returned in
        processed->action_traces->receipt->response string. See Signed call
        section for the definition of the actual request and response.

        ### "actions" parameters

        * account: "fio.address"

        * name: "regaddress"
      operationId: register_fio_address_model
  /register_fio_domain:
    post:
      responses:
        '202':
          description: >-
            This is a generic Signed call response. The specific response to
            this call is contained in
            processed->action_traces->receipt->response. See **[CONTENT]** for
            definition of the that response. 
          schema:
            type: object
            properties:
              transaction_id:
                type: string
              processed:
                type: object
                properties:
                  id:
                    type: string
                  block_num:
                    type: integer
                  block_time:
                    type: string
                  producer_block_id:
                    type: 'null'
                  receipt:
                    type: object
                    properties:
                      status:
                        type: string
                      cpu_usage_us:
                        type: integer
                      net_usage_words:
                        type: integer
                  elapsed:
                    type: integer
                  net_usage:
                    type: integer
                  scheduled:
                    type: boolean
                  action_traces:
                    type: array
                    items:
                      type: object
                      properties:
                        receipt:
                          type: object
                          properties:
                            receiver:
                              type: string
                            response:
                              type: string
                            act_digest:
                              type: string
                            global_sequence:
                              type: integer
                            recv_sequence:
                              type: integer
                            auth_sequence:
                              type: array
                              items:
                                type: integer
                            code_sequence:
                              type: integer
                            abi_sequence:
                              type: integer
                        act:
                          type: object
                          properties:
                            account:
                              type: string
                            name:
                              type: string
                            authorization:
                              type: array
                              items:
                                type: object
                                properties:
                                  actor:
                                    type: string
                                  permission:
                                    type: string
                            data:
                              type: object
                              properties:
                                fio_domain:
                                  type: string
                                owner_fio_public_key:
                                  type: string
                                max_fee:
                                  type: integer
                                actor:
                                  type: string
                                tpid:
                                  type: string
                            hex_data:
                              type: string
                        context_free:
                          type: boolean
                        elapsed:
                          type: integer
                        console:
                          type: string
                        trx_id:
                          type: string
                        block_num:
                          type: integer
                        block_time:
                          type: string
                        producer_block_id:
                          type: 'null'
                        account_ram_deltas:
                          type: array
                          items:
                            type: object
                            properties:
                              account:
                                type: string
                              delta:
                                type: integer
                        except:
                          type: 'null'
                        inline_traces:
                          type: array
                          items:
                            type: object
                            properties:
                              receipt:
                                type: object
                                properties:
                                  receiver:
                                    type: string
                                  response:
                                    type: string
                                  act_digest:
                                    type: string
                                  global_sequence:
                                    type: integer
                                  recv_sequence:
                                    type: integer
                                  auth_sequence:
                                    type: array
                                    items:
                                      type: integer
                                  code_sequence:
                                    type: integer
                                  abi_sequence:
                                    type: integer
                              act:
                                type: object
                                properties:
                                  account:
                                    type: string
                                  name:
                                    type: string
                                  authorization:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        actor:
                                          type: string
                                        permission:
                                          type: string
                                  data:
                                    type:
                                      - object
                                      - string
                                    properties:
                                      from:
                                        type: string
                                      to:
                                        type: string
                                      quantity:
                                        type: string
                                      memo:
                                        type: string
                                  hex_data:
                                    type: string
                              context_free:
                                type: boolean
                              elapsed:
                                type: integer
                              console:
                                type: string
                              trx_id:
                                type: string
                              block_num:
                                type: integer
                              block_time:
                                type: string
                              producer_block_id:
                                type: 'null'
                              account_ram_deltas:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    account:
                                      type: string
                                    delta:
                                      type: integer
                              except:
                                type: 'null'
                              inline_traces:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    receipt:
                                      type: object
                                      properties:
                                        receiver:
                                          type: string
                                        response:
                                          type: string
                                        act_digest:
                                          type: string
                                        global_sequence:
                                          type: integer
                                        recv_sequence:
                                          type: integer
                                        auth_sequence:
                                          type: array
                                          items:
                                            type: integer
                                        code_sequence:
                                          type: integer
                                        abi_sequence:
                                          type: integer
                                    act:
                                      type: object
                                      properties:
                                        account:
                                          type: string
                                        name:
                                          type: string
                                        authorization:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              actor:
                                                type: string
                                              permission:
                                                type: string
                                        data:
                                          type: object
                                          properties:
                                            from:
                                              type: string
                                            to:
                                              type: string
                                            quantity:
                                              type: string
                                            memo:
                                              type: string
                                        hex_data:
                                          type: string
                                    context_free:
                                      type: boolean
                                    elapsed:
                                      type: integer
                                    console:
                                      type: string
                                    trx_id:
                                      type: string
                                    block_num:
                                      type: integer
                                    block_time:
                                      type: string
                                    producer_block_id:
                                      type: 'null'
                                    account_ram_deltas:
                                      type: array
                                      items:
                                        type: object
                                    except:
                                      type: 'null'
                                    inline_traces:
                                      type: array
                                      items:
                                        type: object
                  except:
                    type: 'null'
            title: Signed transaction response
          examples:
            application/json:
              transaction_id: cae721ba5b7a57bc7d78d86ffa2a09128f363834fbad4e553ddba8e5985a54f1
              processed:
                id: >-
                  cae721ba5b7a57bc7d78d86ffa2a09128f363834fbad4e553ddba8e5985a54f1
                block_num: 1201716
                block_time: '2019-09-27T15:28:53.500'
                producer_block_id: null
                receipt:
                  status: executed
                  cpu_usage_us: 1637
                  net_usage_words: 24
                elapsed: 1637
                net_usage: 192
                scheduled: false
                action_traces:
                  - receipt:
                      receiver: fio.address
                      response: >-
                        {"expiration":"2020-09-26T15:28:53","fee_collected":80000000000,"status":"OK"}
                      act_digest: >-
                        46051a043bff16287d3712717b5158727d3614be6704befd359a3a056db30b80
                      global_sequence: 1212111
                      recv_sequence: 41
                      auth_sequence:
                        - - gev2yeim1cjy
                          - 71
                      code_sequence: 1
                      abi_sequence: 1
                    act:
                      account: fio.address
                      name: regdomain
                      authorization:
                        - actor: gev2yeim1cjy
                          permission: active
                      data:
                        fio_domain: woohoo56311
                        owner_fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
                        max_fee: 80000000000
                        actor: gev2yeim1cjy
                        tpid: blahblah@blahblah
                      hex_data: >-
                        0b776f6f686f6f35363331313546494f385052653457525a4a6a356d6b656d367156474b79764e466750734e6e6a4e4e366b50686836456143707a4356696e354a6a00205fa012000000e01f0ad2292fb66211626c6168626c61683a626c6168626c6168
                    context_free: false
                    elapsed: 1154
                    console: >
                      hashed account name from the owner_fio_public_key
                      gev2yeim1cjy

                      1601134133 INSIDE.   2020   TESTINSIDE.   80000000000

                      fionamefound: 

                      Cannot register TPID or FIO Address not found. The
                      transaction will continue without TPID payment.
                    trx_id: >-
                      cae721ba5b7a57bc7d78d86ffa2a09128f363834fbad4e553ddba8e5985a54f1
                    block_num: 1201716
                    block_time: '2019-09-27T15:28:53.500'
                    producer_block_id: null
                    account_ram_deltas:
                      - account: fio.address
                        delta: 405
                    except: null
                    inline_traces:
                      - receipt:
                          receiver: fio.token
                          response: ''
                          act_digest: >-
                            c9742e89b5997def70807b5fc2b2495fce6125683e9493310fc282a8bfc99b9e
                          global_sequence: 1212112
                          recv_sequence: 83
                          auth_sequence:
                            - - gev2yeim1cjy
                              - 72
                          code_sequence: 1
                          abi_sequence: 1
                        act:
                          account: fio.token
                          name: transfer
                          authorization:
                            - actor: gev2yeim1cjy
                              permission: active
                          data:
                            from: gev2yeim1cjy
                            to: fio.treasury
                            quantity: 80.000000000 FIO
                            memo: FIO API fees. Thank you.
                          hex_data: >-
                            e01f0ad2292fb662e0afc646dd0ca85b00205fa0120000000946494f000000001846494f2041504920666565732e205468616e6b20796f752e
                        context_free: false
                        elapsed: 142
                        console: ''
                        trx_id: >-
                          cae721ba5b7a57bc7d78d86ffa2a09128f363834fbad4e553ddba8e5985a54f1
                        block_num: 1201716
                        block_time: '2019-09-27T15:28:53.500'
                        producer_block_id: null
                        account_ram_deltas: []
                        except: null
                        inline_traces:
                          - receipt:
                              receiver: gev2yeim1cjy
                              response: ''
                              act_digest: >-
                                c9742e89b5997def70807b5fc2b2495fce6125683e9493310fc282a8bfc99b9e
                              global_sequence: 1212113
                              recv_sequence: 18
                              auth_sequence:
                                - - gev2yeim1cjy
                                  - 73
                              code_sequence: 1
                              abi_sequence: 1
                            act:
                              account: fio.token
                              name: transfer
                              authorization:
                                - actor: gev2yeim1cjy
                                  permission: active
                              data:
                                from: gev2yeim1cjy
                                to: fio.treasury
                                quantity: 80.000000000 FIO
                                memo: FIO API fees. Thank you.
                              hex_data: >-
                                e01f0ad2292fb662e0afc646dd0ca85b00205fa0120000000946494f000000001846494f2041504920666565732e205468616e6b20796f752e
                            context_free: false
                            elapsed: 2
                            console: ''
                            trx_id: >-
                              cae721ba5b7a57bc7d78d86ffa2a09128f363834fbad4e553ddba8e5985a54f1
                            block_num: 1201716
                            block_time: '2019-09-27T15:28:53.500'
                            producer_block_id: null
                            account_ram_deltas: []
                            except: null
                            inline_traces: []
                          - receipt:
                              receiver: fio.treasury
                              response: ''
                              act_digest: >-
                                c9742e89b5997def70807b5fc2b2495fce6125683e9493310fc282a8bfc99b9e
                              global_sequence: 1212114
                              recv_sequence: 110
                              auth_sequence:
                                - - gev2yeim1cjy
                                  - 74
                              code_sequence: 1
                              abi_sequence: 1
                            act:
                              account: fio.token
                              name: transfer
                              authorization:
                                - actor: gev2yeim1cjy
                                  permission: active
                              data:
                                from: gev2yeim1cjy
                                to: fio.treasury
                                quantity: 80.000000000 FIO
                                memo: FIO API fees. Thank you.
                              hex_data: >-
                                e01f0ad2292fb662e0afc646dd0ca85b00205fa0120000000946494f000000001846494f2041504920666565732e205468616e6b20796f752e
                            context_free: false
                            elapsed: 10
                            console: ''
                            trx_id: >-
                              cae721ba5b7a57bc7d78d86ffa2a09128f363834fbad4e553ddba8e5985a54f1
                            block_num: 1201716
                            block_time: '2019-09-27T15:28:53.500'
                            producer_block_id: null
                            account_ram_deltas: []
                            except: null
                            inline_traces: []
                      - receipt:
                          receiver: fio.treasury
                          response: ''
                          act_digest: >-
                            15584c15ca31252be83a82ddb18390727b0964075d3d137835314638302f9daa
                          global_sequence: 1212115
                          recv_sequence: 111
                          auth_sequence:
                            - - fio.system
                              - 49
                          code_sequence: 1
                          abi_sequence: 1
                        act:
                          account: fio.treasury
                          name: fdtnrwdupdat
                          authorization:
                            - actor: fio.system
                              permission: active
                          data: 00105e5f00000000
                        context_free: false
                        elapsed: 43
                        console: ''
                        trx_id: >-
                          cae721ba5b7a57bc7d78d86ffa2a09128f363834fbad4e553ddba8e5985a54f1
                        block_num: 1201716
                        block_time: '2019-09-27T15:28:53.500'
                        producer_block_id: null
                        account_ram_deltas:
                          - account: fio.treasury
                            delta: 0
                        except: null
                        inline_traces: []
                      - receipt:
                          receiver: fio.treasury
                          response: ''
                          act_digest: >-
                            71601241e042c849fc61481de448c75f38856c59999827560fc1cae061839c60
                          global_sequence: 1212116
                          recv_sequence: 112
                          auth_sequence:
                            - - fio.system
                              - 50
                          code_sequence: 1
                          abi_sequence: 1
                        act:
                          account: fio.treasury
                          name: bppoolupdate
                          authorization:
                            - actor: fio.system
                              permission: active
                          data: '0010014112000000'
                        context_free: false
                        elapsed: 35
                        console: ''
                        trx_id: >-
                          cae721ba5b7a57bc7d78d86ffa2a09128f363834fbad4e553ddba8e5985a54f1
                        block_num: 1201716
                        block_time: '2019-09-27T15:28:53.500'
                        producer_block_id: null
                        account_ram_deltas:
                          - account: fio.treasury
                            delta: 0
                        except: null
                        inline_traces: []
                except: null
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO domain"
            * "FIO domain already registered"
            * "Invalid FIO Public Key"
            * "Invalid fee value"
            * "Insufficient funds to cover fee"
            * "Fee exceeds supplied maximum"
            * "TPID must be empty or valid FIO address"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: max_fee
                  value: '200'
                  error: Fee exceeds supplied maximum.
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '403':
          description: |-
            Possible triggers:
            * Signer's FIO Public Key does not match actor
          examples:
            application/json:
              type: invalid_signature
              message: Request signature not valid or not allowed.
          schema:
            type: object
            properties: {}
            description: >-
              HTTP code 403 is returned when the request signature is not valid
              or this user is not allowed to sign this transaction.
            title: Error 403
      summary: '[SIGNED] Register FIO Domain'
      description: Registers a FIO Domain on the FIO blockchain.
      operationId: register_fio_domain
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              signatures:
                type: array
                items:
                  type: string
              compression:
                type: string
              packed_context_free_data:
                type: string
              packed_trx:
                type: string
            title: Signed transaction request
            example:
              signatures:
                - >-
                  SIG_K1_JwfF5X2wZG8jED4K3XrhLV1unPaxK16DZR9YRXvJYLiVkKnyAMry5yA5AxNjxMDf5AUGLThHkUA16q3rUSGepNrLCB656n
              compression: none
              packed_context_free_data: ''
              packed_trx: >-
                c32b8e5df85573265d5e0000000001008054197b0ca85b000098ce489a98ba01e01f0ad2292fb66200000000a8ed3232640b776f6f686f6f35363331313546494f385052653457525a4a6a356d6b656d367156474b79764e466750734e6e6a4e4e366b50686836456143707a4356696e354a6a00205fa012000000e01f0ad2292fb66211626c6168626c61683a626c6168626c616800
          description: >-
            This request needs to be packed and signed. See **[CONTENT]** for
            the definition of the object before it's packed and signed.
    get:
      responses:
        '200':
          description: >-
            This section defines only the contents of the response returned in
            processed->action_traces->receipt->response string. See Signed call
            section for the definition of the actual response.
          schema:
            type: object
            properties:
              status:
                type: string
                description: OK
              expiration:
                type: string
                format: date-time
                title: Date/time
              fee_collected:
                title: Fee collected
                description: Amount of SUFs collected as fee
                type: integer
          examples:
            application/json:
              status: OK
              expiration: '2020-09-11T18:30:56'
              fee_collected: 2000000000
      summary: '[CONTENT] Register FIO Domain'
      description: >-
        ### This is not an actual api endpoint

        This section defines the object which needs to be created before it's
        packed and signed and the response object returned in
        processed->action_traces->receipt->response string. See Signed call
        section for the definition of the actual request and response.

        ### "actions" parameters

        * account: "fio.address"

        * name: "regdomain"
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_domain:
                type: string
                title: FIO Domain
                minLength: 1
                maxLength: 62
                pattern: '^[a-z0-9-]+$'
                description: >-
                  See [FIO Domain
                  format](https://kb.fioprotocol.io/fio-protocol/fio-addresses/format)


                  Please note that FIO Domain is case insensitive. If upper case
                  characters are passed in, they will be converted to lower
                  case.
              owner_fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
              max_fee:
                type: integer
                title: Max fee
                description: >-
                  Maximum amount of SUFs the user is willing to pay for fee.
                  Should be preceded by /get_fee for correct value.
              tpid:
                type: string
                title: TPID
                description: |-
                  * FIO Address of the wallet which generates this transaction.
                  * This FIO Address will be paid 10% of the fee.
                  * See FIO Protocol#TPIDs for details.
                  * Set to empty if not known.
              actor:
                type: string
                title: Actor
                description: 'See [Generating actor](/actor)'
            required:
              - fio_domain
              - owner_fio_public_key
              - max_fee
              - tpid
              - actor
          description: >-
            This section defines the object which needs to be created before
            it's packed and signed. See Signed call section for the definition
            of the actual request.
            example:
              fio_domain: alice
              owner_fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              max_fee: 2000000000
              tpid: rewards@wallet
              actor: aftyershcu22
      operationId: register_fio_domain_model
  /renew_fio_domain:
    post:
      responses:
        '202':
          description: >-
            This is a generic Signed call response. The specific response to
            this call is contained in
            processed->action_traces->receipt->response. See **[CONTENT]** for
            definition of the that response. 
          schema:
            type: object
            properties:
              transaction_id:
                type: string
              processed:
                type: object
                properties:
                  id:
                    type: string
                  block_num:
                    type: integer
                  block_time:
                    type: string
                  producer_block_id:
                    type: 'null'
                  receipt:
                    type: object
                    properties:
                      status:
                        type: string
                      cpu_usage_us:
                        type: integer
                      net_usage_words:
                        type: integer
                  elapsed:
                    type: integer
                  net_usage:
                    type: integer
                  scheduled:
                    type: boolean
                  action_traces:
                    type: array
                    items:
                      type: object
                      properties:
                        receipt:
[...]
