swagger: '2.0'
info:
  title: FIO Protocol API
  version: '1.0'
  description: |-
    The FIO Protocol API documentation provides information on the FIO Protocol getters, actions, 
    and block producer actions.

    The **https://developers.fioprotocol.io/v1/chain** endpoint listed below is only accessible from the Dev Hub
    and should not be used for integration testing. 

    For a full list of public API Testnet and Mainnet nodes refer to: https://github.com/fioprotocol/fio.mainnet

    -
  license:
    name: MIT
  contact:
    url: 'http://fioprotocol.io'
    email: info@fioprotocol.io
    name: FIO
servers:
  - url: 'https://fiotestnet.blockpane.com/v1/chain'
    description: FIO Testnet server
  - url: 'https://fio.blockpane.com/v1/chain'
    description: FIO Mainnet server 
paths:
  /get_fio_balance:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              balance:
                type: integer
                description: Total SUF balance associated with supplied public key (includes locked and staked tokens).
                example: 100000000000
              available:
                type: integer
                description: Available SUF balance associated with supplied public key (does not include locked or staked tokens).
                example: 100000000000
              staked:
                type: integer
                description: SUFs staked by account associated with supplied public key.
                example: 100000000000
              srps:
                type: integer
                description: Amount of Staking Reward Points (SRPs) held by account associated with supplied public key.
                example: 100000000000
              roe:
                type: double
                description: Estimated Staking Reward Point (SRP) rate of exchaange. _srps_ x _roe_ will shows SUFs account will get on unstake. (_srps_ x _roe_) - _staked_ will show staking rewards accrued in SUFs. Please note, any calculation involving roe is an approximation.
                example: 1.243604281298789
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: |-
            Possible error messages:
            * "Public key not found"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: Public key not found
      summary: Get FIO balance
      description: Retrieves balance of FIO tokens. Also returns available balance which only includes tokens which are not locked.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
            required:
              - fio_public_key
      operationId: get_fio_balance
      tags:
        - Getters
  /get_fio_names:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              fio_domains:
                type: array
                items:
                  type: object
                  properties:
                    fio_domain:
                      type: string
                      title: FIO Domain
                      minLength: 1
                      maxLength: 62
                      pattern: '^[a-z0-9-]+$'
                    expiration:
                      type: string
                      format: date-time
                      title: Date/time
                    is_public:
                      type: integer
                      description: |-
                        * 0 - domain is not public
                        * 1 - domain is public
              fio_addresses:
                type: array
                items:
                  type: object
                  properties:
                    fio_address:
                      type: string
                      title: FIO Crypto Handle (aka FIO Address)
                      minLength: 3
                      maxLength: 64
                      pattern: >-
                        ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
                    expiration:
                      type: string
                      format: date-time
                      title: Date/time
                    remaining_bundled_tx:
                      type: integer
                      title: Count of remaining bundled transactions.
          examples:
            application/json:
              fio_domains:
                - fio_domain: alice
                  expiration: '2020-09-11T18:30:56'
                  is_public: 0
              fio_addresses:
                - fio_address: purse@alice
                  expiration: '2020-09-11T18:30:56'
                  remaining_bundled_tx: 98
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: |-
            Possible error messages:
            * "No FIO names"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No FIO names
      summary: Get all FIO Domains and Crypto Handles linked to public key
      description: Returns FIO Crypto Handles (aka FIO Addresses) and FIO Domains owned by a public key. This getter does not allow for paging through multiple results. Consider /get_fio_addresses or  /get_fio_domains instead.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
            required:
              - fio_public_key
      operationId: get_fio_names
      tags:
        - Getters
  /get_fio_addresses:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              fio_addresses:
                type: array
                items:
                  type: object
                  properties:
                    fio_address:
                      type: string
                      title: FIO Crypto Handle (aka FIO Address)
                      minLength: 3
                      maxLength: 64
                      pattern: >-
                        ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
                      example: purse@alice
                    expiration:
                      type: string
                      format: date-time
                      title: Date/time
                      example: '2020-09-11T18:30:56'
                    remaining_bundled_tx:
                      type: integer
                      title: Count of remaining bundled transactions.
                      example: 98                   
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
                example: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: |-
            Possible error messages:
            * "No FIO Addresses"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No FIO Addresses
      summary: Get FIO Crypto Handles linked to public key
      description: >-
        Returns FIO Crypto Handles (aka FIO Addresses) owned by this public key (supports paging). 
        See [FIP-2](https://github.com/fioprotocol/fips/blob/master/fip-0002.md) for a comprehensive description of this functionality.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0                
            required:
              - fio_public_key
      operationId: get_fio_addresses
      tags:
        - Getters
  /get_fio_domains:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              fio_domains:
                type: array
                items:
                  type: object
                  properties:
                    fio_domain:
                      type: string
                      title: FIO Domain
                      minLength: 1
                      maxLength: 62
                      pattern: '^[a-z0-9-]+$'
                    expiration:
                      type: string
                      format: date-time
                      title: Date/time
                    is_public:
                      type: integer
                      description: |-
                        * 0 - domain is not public
                        * 1 - domain is public
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              fio_domains:
                - fio_domain: alice
                  expiration: '2020-09-11T18:30:56'
                  is_public: 0
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: |-
            Possible error messages:
            * "No FIO Domains"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No FIO Domains
      summary: Get FIO Domains linked to public key
      description: >-
        Returns FIO Domains owned by this public key (supports paging). 
        See [FIP-2](https://github.com/fioprotocol/fips/blob/master/fip-0002.md) for a comprehensive description of this functionality.      
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0                
            required:
              - fio_public_key
      operationId: get_fio_domains
      tags:
        - Getters
  /avail_check:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              is_registered:
                type: integer
                example: 1
                description: |-
                  * 1 - FIO Address or Domain is registered
                  * 0 - FIO Address or Domain is not registered
          examples:
            application/json:
              is_registered: 1
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Name"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_name
                  value: _.@
                  error: Invalid FIO Name
      summary: FIO Domain/Crypto Handle availability check
      description: Checks if a FIO Crypto Handle (aka FIO Address) or FIO Domain is available for registration.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - fio_name
            properties:
              fio_name:
                type: string
                description: FIO Crypto Handle (aka FIO Address) or FIO Domain to check.
                example: purse@alice
      operationId: avail_check
      tags:
        - Getters
  /get_pub_address:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              public_address:
                type: string
                description: Public address for requested FIO Crypto Handle (aka FIO Address) and token.
          examples:
            application/json:
              public_address: '0xab5801a7d398351b8be11c439e05c5b3259aec9b'
        '400':
          description: "Possible error messages:\n* \t\"Invalid FIO Address\"\n* \t\"Invalid Chain Code\"\n* \t\"Invalid Token Code\""
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: public_address
                  value: ''
                  error: Invalid public address format
        '404':
          description: |-
            Possible error messages:
            * "Public address not found"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: Public address not found
      summary: Get a public address mapped to FIO Crypto Handle
      description: >-
        Returns a public address for specified token code and FIO Crypto Handle (aka FIO Address).


        `get_pub_address` accepts chain-level public addresses ('*' as a chain_code).
        See [FIP-18](https://github.com/fioprotocol/fips/blob/master/fip-0018.md) for a description of 
        chain-level public address functionality.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - fio_address
              - chain_code
              - token_code
            properties:
              fio_address:
                type: string
                title: FIO Crypto Handle (aka FIO Address)
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
                example: purse@alice
              chain_code:
                type: string
                title: Token/chain code
                minLength: 1
                maxLength: 10
                pattern: '^[A-Z0-9]+$'
                example: FIO
              token_code:
                type: string
                title: Token/chain code
                minLength: 1
                maxLength: 10
                pattern: '^[A-Z0-9]+$'
                example: FIO
      operationId: get_pub_address
      tags:
        - Getters
  /get_pub_addresses:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              public_addresses:
                type: array
                uniqueItems: true
                description: >-
                  Array of public addresses mapped to the FIO Public Key.
                items:
                  type: object
                  properties:
                    chain_code:
                      type: string
                      title: Chain code
                      description: Chain code
                    token_code:
                      type: string
                      title: Token code
                      description: Token code
                    public_address:
                      type: object
                      title: Native Blockchain Public Address
                      description: Public address on another blockchain.
                example:
                  - chain_code: FIO
                    token_code: FIO
                    public_address: FIO6cp3eJMhtAuQvzetCAqcUAyLBabHj8M8hJD5nA8T1p7FoXaTd2
                  - chain_code: ETH
                    token_code: ETH
                    public_address: '0xab5801a7d398351b8be11c439e05c5b3259aec9b'
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Address"
            * "Invalid limit"
            * "Invalid offset"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_address
                  value: bob
                  error: Invalid FIO Address
        '404':
          description: |-
            Possible error messages:
            * "No FIO addresses are mapped"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: Public addresses not found
      summary: Get ALL public addresses mapped to a FIO Crypto Handle
      description: Returns all public addresses for specified FIO Crypto Handle (aka FIO Address).
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - fio_address
            properties:
              fio_address:
                type: string
                title: FIO Crypto Handle (aka FIO Address)
                description: FIO Crypto Handle (aka FIO Address) of the payee.
                example: purse@alice
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0
      operationId: get_pub_addresses
      tags:
        - Getters
  /get_sent_fio_requests:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              requests:
                type: array
                description: Multiple requests may be returned. All requests are returned.
                items:
                  type: object
                  properties:
                    fio_request_id:
                      type: integer
                      description: ID of the original request.
                    payer_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle (aka FIO Address) of the payer. This address initiated
                        payment.
                    payee_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle of the payee. This address is receiving
                        payment.
                    payer_fio_public_key:
                      type: string
                      description: FIO public key of the payer.
                    payee_fio_public_key:
                      type: string
                      description: FIO public key of the payee.
                    content:
                      type: object
                      title: FIO Request encrypted content
                      description: >-
                        Certain content inside FIO Request is encrypted and
                        packed into this field.


                        Min 64 characters

                        Max 296 characters
                      properties:
                        payee_public_address:
                          type: object
                          title: Native Blockchain Public Address
                          description: "This is the public address on another blockchain. Both integrated addresses as well as URI Scheme are supported.\n\n**Integrated Address**\nIf the blockchain supports it, an integrated address may be passed in just like standard public address. The FIO protocol does not perform validation on the passed string.\n\n**URI Scheme**\nFIO Protocol will support formatting of public addresses using URI were certain attributes are appended to the public address following a '?' and delimited with '&'. To allow inter-wallet operability, the following standardized parameters will be supported in official FIO Protocol SDKs.\n\n**Parameters**\n* dt - Ripple\n* memo - Any - use as generic memo field\n* memo_id -\tStellar\n* memo_text -\tStellar\n* memo_hash -\tStellar\n* memo_return -\tStellar\n* payment_id - Monero\n"
                        amount:
                          type: string
                          description: Amount requested.
                        token_code:
                          type: string
                          title: Token/chain code
                          minLength: 1
                          maxLength: 10
                          pattern: '^[A-Z0-9]+$'
                        memo:
                          type: string
                        hash:
                          type: string
                        offline_url:
                          type: string
                        future_use1:
                          type: string
                        future_use2:
                          type: string
                        future_use3:
                          type: string
                        future_use4:
                          type: string
                        future_use5:
                          type: string
                      required:
                        - payee_public_address
                        - amount
                        - token_code
                        - memo
                        - hash
                        - offline_url
                        - future_use1
                        - future_use2
                        - future_use3
                        - future_use4
                        - future_use5
                    time_stamp:
                      type: string
                      description: Timestamp of request
                    status:
                      type: string
                      title: FIO Request status
                      description: Status of FIO Request
                      enum:
                        - requested
                        - sent_to_blockchain
                        - rejected
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              requests:
                - fio_request_id: 10
                  payer_fio_address: purse@alice
                  payee_fio_address: crypto@bob
                  payer_fio_public_key: FIO7167ErgCveJvuonvrEvVGhdWnkP4AEMfqvEd8s8raMkbbAXqhx
                  payee_fio_public_key: FIO7KGdMYj4ZMY2nUX9EaZu3G3GxZhTNXUq1tsNqC5rcP9rcmvWHq
                  content: ...
                  time_stamp: '2020-09-11T18:30:56'
                  status: rejected
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "No FIO Requests"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No FIO Requests
      summary: Get sent Requests
      description: >-
        Returns FIO Requests that have been sent by provided FIO public key.
      operationId: get_sent_fio_requests
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0
            required:
              - fio_public_key
      tags:
        - Getters
  /get_received_fio_requests:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              requests:
                type: array
                description: Multiple requests may be returned. All requests are returned.
                items:
                  type: object
                  properties:
                    fio_request_id:
                      type: integer
                      description: ID of the original request.
                    payer_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle (aka FIO Address) of the payer. This address initiated
                        payment.
                    payee_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle of the payee. This address is receiving
                        payment.
                    payer_fio_public_key:
                      type: string
                      description: FIO public key of the payer.
                    payee_fio_public_key:
                      type: string
                      description: FIO public key of the payee.
                    content:
                      type: object
                      title: FIO Request encrypted content
                      description: >-
                        Certain content inside FIO Request is encrypted and
                        packed into this field.


                        Min 64 characters

                        Max 296 characters
                      properties:
                        payee_public_address:
                          type: object
                          title: Native Blockchain Public Address
                          description: "This is the public address on another blockchain. Both integrated addresses as well as URI Scheme are supported.\n\n**Integrated Address**\nIf the blockchain supports it, an integrated address may be passed in just like standard public address. The FIO protocol does not perform validation on the passed string.\n\n**URI Scheme**\nFIO Protocol will support formatting of public addresses using URI were certain attributes are appended to the public address following a '?' and delimited with '&'. To allow inter-wallet operability, the following standardized parameters will be supported in official FIO Protocol SDKs.\n\n**Parameters**\n* dt - Ripple\n* memo - Any - use as generic memo field\n* memo_id -\tStellar\n* memo_text -\tStellar\n* memo_hash -\tStellar\n* memo_return -\tStellar\n* payment_id - Monero\n"
                        amount:
                          type: string
                          description: Amount requested.
                        token_code:
                          type: string
                          title: Token/chain code
                          minLength: 1
                          maxLength: 10
                          pattern: '^[A-Z0-9]+$'
                        memo:
                          type: string
                        hash:
                          type: string
                        offline_url:
                          type: string
                        future_use1:
                          type: string
                        future_use2:
                          type: string
                        future_use3:
                          type: string
                        future_use4:
                          type: string
                        future_use5:
                          type: string
                      required:
                        - payee_public_address
                        - amount
                        - token_code
                        - memo
                        - hash
                        - offline_url
                        - future_use1
                        - future_use2
                        - future_use3
                        - future_use4
                        - future_use5
                    time_stamp:
                      type: string
                      description: Timestamp of request
                    status:
                      type: string
                      title: FIO Request status
                      description: Status of FIO Request
                      enum:
                        - requested
                        - sent_to_blockchain
                        - rejected
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              requests:
                - fio_request_id: 10
                  payer_fio_address: purse@alice
                  payee_fio_address: crypto@bob
                  payer_fio_public_key: FIO7167ErgCveJvuonvrEvVGhdWnkP4AEMfqvEd8s8raMkbbAXqhx
                  payee_fio_public_key: FIO7KGdMYj4ZMY2nUX9EaZu3G3GxZhTNXUq1tsNqC5rcP9rcmvWHq
                  content: ...
                  time_stamp: '2020-09-11T18:30:56'
                  status: rejected
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "No received FIO Requests"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No received FIO Requests
      summary: Get received Requests
      description: >-
        Returns all FIO Requests that have been received by the provided FIO public key.
      operationId: get_received_fio_requests
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0
            required:
              - fio_public_key
      tags:
        - Getters
  /get_pending_fio_requests:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              requests:
                type: array
                description: Multiple requests may be returned. All requests are returned.
                items:
                  type: object
                  properties:
                    fio_request_id:
                      type: integer
                      description: ID of the original request.
                    payer_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle (aka FIO Address) of the payer. This address initiated
                        payment.
                    payee_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle of the payee. This address is receiving
                        payment.
                    payer_fio_public_key:
                      type: string
                      description: FIO public key of the payer.
                    payee_fio_public_key:
                      type: string
                      description: FIO public key of the payee.
                    content:
                      type: object
                      title: FIO Request encrypted content
                      description: >-
                        Certain content inside FIO Request is encrypted and
                        packed into this field.


                        Min 64 characters

                        Max 296 characters
                      properties:
                        payee_public_address:
                          type: object
                          properties: {}
                          title: Native Blockchain Public Address
                          description: "This is the public address on another blockchain. Both integrated addresses as well as URI Scheme are supported.\n\n**Integrated Address**\nIf the blockchain supports it, an integrated address may be passed in just like standard public address. The FIO protocol does not perform validation on the passed string.\n\n**URI Scheme**\nFIO Protocol will support formatting of public addresses using URI were certain attributes are appended to the public address following a '?' and delimited with '&'. To allow inter-wallet operability, the following standardized parameters will be supported in official FIO Protocol SDKs.\n\n**Parameters**\n* dt - Ripple\n* memo - Any - use as generic memo field\n* memo_id -\tStellar\n* memo_text -\tStellar\n* memo_hash -\tStellar\n* memo_return -\tStellar\n* payment_id - Monero\n"
                        amount:
                          type: string
                          description: Amount requested.
                        token_code:
                          type: string
                          title: Token/chain code
                          minLength: 1
                          maxLength: 10
                          pattern: '^[A-Z0-9]+$'
                        memo:
                          type: string
                        hash:
                          type: string
                        offline_url:
                          type: string
                        future_use1:
                          type: string
                        future_use2:
                          type: string
                        future_use3:
                          type: string
                        future_use4:
                          type: string
                        future_use5:
                          type: string
                      required:
                        - payee_public_address
                        - amount
                        - token_code
                        - memo
                        - hash
                        - offline_url
                        - future_use1
                        - future_use2
                        - future_use3
                        - future_use4
                        - future_use5
                    time_stamp:
                      type: string
                      description: Timestamp of request
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              requests:
                - fio_request_id: 10
                  payer_fio_address: purse@alice
                  payee_fio_address: crypto@bob
                  payer_fio_public_key: FIO7167ErgCveJvuonvrEvVGhdWnkP4AEMfqvEd8s8raMkbbAXqhx
                  payee_fio_public_key: FIO7KGdMYj4ZMY2nUX9EaZu3G3GxZhTNXUq1tsNqC5rcP9rcmvWHq
                  content: ...
                  time_stamp: '2020-09-11T18:30:56'
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "No pending FIO Requests"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No pending FIO Requests
      summary: Get pending Requests
      description: Pending requests call polls for any pending requests sent to a receiver.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0
            required:
              - fio_public_key
      operationId: get_pending_fio_requests
      tags:
        - Getters
  /get_cancelled_fio_requests:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              requests:
                type: array
                description: Multiple requests may be returned. All requests are returned.
                items:
                  type: object
                  properties:
                    fio_request_id:
                      type: integer
                      description: ID of the original request.
                    payer_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle (aka FIO Address) of the payer. This address initiated
                        payment.
                    payee_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle of the payee. This address is receiving
                        payment.
                    payer_fio_public_key:
                      type: string
                      description: FIO public key of the payer.
                    payee_fio_public_key:
                      type: string
                      description: FIO public key of the payee.
                    content:
                      type: object
                      title: FIO Request encrypted content
                      description: >-
                        Certain content inside FIO Request is encrypted and
                        packed into this field.


                        Min 64 characters

                        Max 296 characters
                      properties:
                        payee_public_address:
                          type: object
                          properties: {}
                          title: Native Blockchain Public Address
                          description: "This is the public address on another blockchain. Both integrated addresses as well as URI Scheme are supported.\n\n**Integrated Address**\nIf the blockchain supports it, an integrated address may be passed in just like standard public address. The FIO protocol does not perform validation on the passed string.\n\n**URI Scheme**\nFIO Protocol will support formatting of public addresses using URI were certain attributes are appended to the public address following a '?' and delimited with '&'. To allow inter-wallet operability, the following standardized parameters will be supported in official FIO Protocol SDKs.\n\n**Parameters**\n* dt - Ripple\n* memo - Any - use as generic memo field\n* memo_id -\tStellar\n* memo_text -\tStellar\n* memo_hash -\tStellar\n* memo_return -\tStellar\n* payment_id - Monero\n"
                        amount:
                          type: string
                          description: Amount requested.
                        token_code:
                          type: string
                          title: Token/chain code
                          minLength: 1
                          maxLength: 10
                          pattern: '^[A-Z0-9]+$'
                        memo:
                          type: string
                        hash:
                          type: string
                        offline_url:
                          type: string
                        future_use1:
                          type: string
                        future_use2:
                          type: string
                        future_use3:
                          type: string
                        future_use4:
                          type: string
                        future_use5:
                          type: string
                      required:
                        - payee_public_address
                        - amount
                        - token_code
                        - memo
                        - hash
                        - offline_url
                        - future_use1
                        - future_use2
                        - future_use3
                        - future_use4
                        - future_use5
                    time_stamp:
                      type: string
                      description: Timestamp of request
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              requests:
                - fio_request_id: 10
                  payer_fio_address: purse@alice
                  payee_fio_address: crypto@bob
                  payer_fio_public_key: FIO7167ErgCveJvuonvrEvVGhdWnkP4AEMfqvEd8s8raMkbbAXqhx
                  payee_fio_public_key: FIO7KGdMYj4ZMY2nUX9EaZu3G3GxZhTNXUq1tsNqC5rcP9rcmvWHq
                  content: ...
                  time_stamp: '2020-09-11T18:30:56'
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "No cancelled FIO Requests"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No FIO Requests
      summary: Get cancelled Requests
      description: >-
        Returned cancelled requests sent by provided FIO public key. 
        See [FIP-3](https://github.com/fioprotocol/fips/blob/master/fip-0003.md) for comprehensive description of this functionality.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0
            required:
              - fio_public_key
      operationId: get_cancelled_fio_requests
      tags:
        - Getters
  /get_obt_data:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              obt_data_records:
                type: array
                description: Multiple OBT Data Records may be returned.
                items:
                  type: object
                  properties:
                    payer_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle (aka FIO Address) of the payer. This address initiated
                        payment.
                    payee_fio_address:
                      type: string
                      description: >-
                        FIO Crypto Handle of the payee. This address is receiving
                        payment.
                    payer_fio_public_key:
                      type: string
                      description: FIO public key of the payer.
                    payee_fio_public_key:
                      type: string
                      description: FIO public key of the payee.
                    content:
                      type: object
                      title: FIO Data encrypted content
                      description: >-
                        Certain content inside FIO Data is encrypted and packed
                        into this field.


                        Min 64 characters

                        Max 432 characters
                      properties:
                        payer_public_address:
                          type: string
                          description: >-
                            Public address on other blockchain of user sending
                            funds.
                        payee_public_address:
                          type: string
                          description: >-
                            Public address on other blockchain of user receiving
                            funds.
                        amount:
                          type: string
                          description: Amount sent.
                        token_code:
                          type: string
                          title: Token/chain code
                          minLength: 1
                          maxLength: 10
                          pattern: '^[A-Z0-9]+$'
                        status:
                          type: string
                          description: |-
                            Status of this OBT. Allowed statuses are:
                            * sent_to_blockchain
                        obt_id:
                          type: string
                          description: >-
                            Other Blockchain Transaction ID (OBT ID), i.e
                            Bitcoin transaction ID
                        memo:
                          type: string
                          description: memo field
                        hash:
                          type: string
                        offline_url:
                          type: string
                      required:
                        - payer_public_address
                        - payee_public_address
                        - amount
                        - token_code
                        - status
                        - obt_id
                        - memo
                        - hash
                        - offline_url
                    fio_request_id:
                      type: integer
                      description: 'Id of FIO Request, if in response to FIO Request.'
                    status:
                      type: string
                      description: In current version alwasy sent_to_blockchain
                    time_stamp:
                      type: string
                      description: Timestamp of transaction
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              obt_data_records:
                - payer_fio_address: purse@alice
                  payee_fio_address: crypto@bob
                  payer_fio_public_key: FIO7167ErgCveJvuonvrEvVGhdWnkP4AEMfqvEd8s8raMkbbAXqhx
                  payee_fio_public_key: FIO7KGdMYj4ZMY2nUX9EaZu3G3GxZhTNXUq1tsNqC5rcP9rcmvWHq
                  content: ...
                  fio_request_id: 10
                  status: sent_to_blockchain
                  time_stamp: '2020-09-11T18:30:56'
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
            * "Invalid limit"
            * "Invalid offset"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: ''
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No OBT data records
      summary: Get other blockchain transaction metadata
      description: >-
        Retrives Other Blockchain Transaction (OBT) metadata data stored using
        /record_obt_data. This call will return all metadata relevant to the
        provided FIO Public key, including:

        * Outbound transactions where the Payer's FIO Crypto Handle (aka FIO Address) matches the provided FIO Public key

        * Inbound transactions where the Payee's FIO Crypto Handle (aka FIO Address) matches the provided FIO Public key
      operationId: get_obt_data
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0
            required:
              - fio_public_key
      tags:
        - Getters
  /get_locks:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              lock_amount:
                type: integer
                title: Locked amount
                description: SUFs initially locked.
                example: 40000000000000             
              remaining_lock_amount:
                type: integer
                title: Remaining locked amount
                description: SUFs still locked.
                example: 20000000000000
              time_stamp:
                type: string
                format: date-time
                title: Date/time
                description: Time when lock started.
                example: '2020-09-11T18:30:56'
              payouts_performed:
                type: integer
                title: Payouts performed
                description: Number of unlock periods which were unlocked.
                example: 0
              can_vote:
                type: integer
                title: Can vote
                description: Indicates if the locked amount can vote while locked. 0 - can not vote, 1 - can vote.
                example: 1
              unlock_periods:
                type: array
                items:
                  type: object
                  properties:
                    duration:
                      type: integer
                      title: Duration
                      description: Seconds from lock creation to when unlock of corresponding amount occurs.
                      example: 86400
                    amount:
                      type: integer
                      title: Amount
                      description: Number of locked tokens, in SUFs, that unlock after corresponding duration has lapsed.
                      example: 2020000000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: |-
            Possible error messages:
            * "Public key not found"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: Public key not found
      summary: Get token lock information for account
      description: >-
        Accounts may hold both locked and unlocked FIO tokens. The get_locks API retrieves token lock information for account.
        It returns the total number of locked and unlocked tokens in addition to the lock size and duration of each lock period.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
            required:
              - fio_public_key
      operationId: get_locks
      tags:
        - Getters
  /get_fee:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              fee:
                type: integer
                description: 'Amount of fee in SUFs '
          examples:
            application/json:
              fee: 100000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid end point"
            * "Invalid FIO Address"
            * "No such FIO Address"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: end_point
                  value: blah
                  error: Invalid end point
      description: Computes and returns fee amount for specific call and specific user.
      summary: Get fee amount
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              end_point:
                type: string
                description: 'Name of API call end point, e.g. add_pub_address'
                example: add_pub_address
              fio_address:
                type: string
                title: FIO Crypto Handle (aka FIO Address)
                description: fio_address is only required for the endpoints listed above
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
                example: purse@alice
            required:
              - end_point
              - fio_address
          description: |-
            Valid FIO Crypto Handle (aka FIO Address) required on the following API endpoints:
            * add_pub_address
            * remove_pub_address
            * remove_all_pub_addresses
            * new_funds_request
            * reject_funds_request
            * cancel_funds_request
            * reject_funds_request
            * record_obt_data
            * burn_fio_address
            * vote_producer
            * proxy_vote
      operationId: get_fee
      tags:
        - Getters
  /get_nfts_fio_address:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              nfts:
                type: array
                description: Multiple NFT Signatures may be returned.
                items:
                  type: object
                  properties:
                    chain_code:
                      type: string
                      description: Chain code.
                    contract_address:
                      type: string
                      description: Contract address.
                    token_id:
                      type: string
                      description: Token ID of NFT.
                    url:
                      type: string
                      description: URL of NFT asset.
                    hash:
                      type: string
                      description: SHA-256 hash of NFT asset.
                    metadata:
                      type: string
                      description: JSON formatted metadata, including creator URL.
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              nfts:
                - chain_code: "ETH"
                  contract_address: "0x63c0691d05f441f42915ca6ca0a6f60d8ce148cd"
                  token_id: "100010001"
                  url: "ipfs://ipfs/QmZ15eQX8FPjfrtdX3QYbrhZxJpbLpvDpsgb2p3VEH8Bqq"
                  hash: "f83b5702557b1ee76d966c6bf92ae0d038cd176aaf36f86a18e2ab59e6aefa4b"
                  metadata: '{\"creator_url\":\"https://yahoo.com/\"}'
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Address"
            * "FIO Address does not exist"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_address
                  value: bob
                  error: Invalid FIO Address format
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "NFTs not found"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: NFTs not found
      summary: Get Signed NFTs for FIO Crypto Handle
      description: >-
        Returns all NFTs for specified FIO Crypto Handle (aka FIO Address). 
        See [FIP-27](https://github.com/fioprotocol/fips/blob/master/fip-0027.md) for comprehensive description of this functionality.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_address:
                type: string
                description: FIO Crypto Handle (aka FIO Address) that signed the NFTs.
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
                example: purse@alice
              limit:
                type: integer
                description: >-
                  Number of NFTs to return. If omitted, all matching NFTs will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First NFT from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0
            required:
              - fio_address
      operationId: get_nfts_fio_address
      tags:
        - Getters
  /get_nfts_contract:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              nfts:
                type: array
                description: Multiple NFT Signatures may be returned.
                items:
                  type: object
                  properties:
                    fio_address:
                      type: string
                      description: Chain code.
                    chain_code:
                      type: string
                      description: Chain code.
                    contract_address:
                      type: string
                      description: Contract address.
                    token_id:
                      type: string
                      description: Token ID of NFT.
                    url:
                      type: string
                      description: URL of NFT asset.
                    hash:
                      type: string
                      description: SHA-256 hash of NFT asset.
                    metadata:
                      type: string
                      description: JSON formatted metadata, including creator URL.
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              nfts:
                - fio_address: "purse@alice"
                  chain_code: "ETH"
                  contract_address: "0x63c0691d05f441f42915ca6ca0a6f60d8ce148cd"
                  token_id: "100010001"
                  url: "ipfs://ipfs/QmZ15eQX8FPjfrtdX3QYbrhZxJpbLpvDpsgb2p3VEH8Bqq"
                  hash: "f83b5702557b1ee76d966c6bf92ae0d038cd176aaf36f86a18e2ab59e6aefa4b"
                  metadata: '{\"creator_url\":\"https://yahoo.com/\"}'
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid Chain Code"
            * "Invalid Contract Address"
            * "Invalid Token ID"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: contract_address
                  value: ""
                  error: Invalid Contract Address
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "NFTs not found"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: NFTs not found
      summary: Get Signed NFTs for contract
      description: >-
        Returns all mapped NFTs which have the specified contract address and (optional) token id.
        See [FIP-27](https://github.com/fioprotocol/fips/blob/master/fip-0027.md) for comprehensive description of this functionality.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              chain_code:
                type: string
                description: Chain code where NFT contract resides
                example: "ETH"
              contract_address:
                type: string
                description: NFT Contract Address
                example: "0x63c0691d05f441f42915ca6ca0a6f60d8ce148cd"
              token_id:
                type: string
                description: NFT Token ID
                example: "100010001"
              limit:
                type: integer
                description: >-
                  Number of NFTs to return. If omitted, all matching NFTs will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First NFT from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0
            required:
              - chain_code
              - contract_address
      operationId: get_nfts_contract
      tags:
        - Getters
  /get_nfts_hash:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              nfts:
                type: array
                description: Multiple NFT Signatures may be returned.
                items:
                  type: object
                  properties:
                    fio_address:
                      type: string
                      description: Chain code.
                    chain_code:
                      type: string
                      description: Chain code.
                    contract_address:
                      type: string
                      description: Contract address.
                    token_id:
                      type: string
                      description: Token ID of NFT.
                    url:
                      type: string
                      description: URL of NFT asset.
                    hash:
                      type: string
                      description: SHA-256 hash of NFT asset.
                    metadata:
                      type: string
                      description: JSON formatted metadata, including creator URL.
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              nfts:
                - fio_address: "purse@alice"
                  chain_code: "ETH"
                  contract_address: "0x63c0691d05f441f42915ca6ca0a6f60d8ce148cd"
                  token_id: "100010001"
                  url: "ipfs://ipfs/QmZ15eQX8FPjfrtdX3QYbrhZxJpbLpvDpsgb2p3VEH8Bqq"
                  hash: "f83b5702557b1ee76d966c6bf92ae0d038cd176aaf36f86a18e2ab59e6aefa4b"
                  metadata: '{\"creator_url\":\"https://yahoo.com/\"}'
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid hash"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: hash
                  value: ""
                  error: Invalid hash
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "NFTs not found"
          schema:
            type: object
            properties:
              message:
                type: string
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: NFTs not found
      summary: Get Signed NFTs for hash
      description: >-
        Returns all NFTs which have the specified hash. 
        See [FIP-27](https://github.com/fioprotocol/fips/blob/master/fip-0027.md) for comprehensive description of this functionality.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              hash:
                type: string
                description: SHA-256 hash of NFT asset. For example, the media URL.
                minLength: 3
                maxLength: 64
                example: "f83b5702557b1ee76d966c6bf92ae0d038cd176aaf36f86a18e2ab59e6aefa4b"
              limit:
                type: integer
                description: >-
                  Number of NFTs to return. If omitted, all matching NFTs will be
                  returned.
                minimum: 0
                example: 100
              offset:
                type: integer
                description: 'First NFT from list to return. If omitted, 0 is assumed.'
                minimum: 0
                example: 0
            required:
              - fio_address
      operationId: get_nfts_hash
      tags:
        - Getters
  /get_actor:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - actor
            properties:
              actor:
                type: string
          examples:
            application/json:
              actor: gev2yeim1cjy
      summary: Get actor/account from public key
      description: >-
        Convenience method, which returns the [actor](/docs/recipes/actor-account) for the supplied FIO
        Public Key. The FIO Chain is not checked for existence of this actor, it
        simply converts the key to actor using [hash function](/docs/recipes/actor-account).
      operationId: get_actor
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - fio_public_key
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
                example: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
      tags:
        - Getters
  /get_account:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              account_name:
                type: string
              head_block_num:
                type: integer
              head_block_time:
                type: string
              privileged:
                type: boolean
              last_code_update:
                type: string
              created:
                type: string
              ram_quota:
                type: integer
              net_weight:
                type: integer
              cpu_weight:
                type: integer
              net_limit:
                type: object
                properties:
                  used:
                    type: integer
                  available:
                    type: integer
                  max:
                    type: integer
              cpu_limit:
                type: object
                properties:
                  used:
                    type: integer
                  available:
                    type: integer
                  max:
                    type: integer
              ram_usage:
                type: integer
              permissions:
                type: array
                items:
                  type: object
                  properties:
                    perm_name:
                      type: string
                    parent:
                      type: string
                    required_auth:
                      type: object
                      properties:
                        threshold:
                          type: integer
                        keys:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              weight:
                                type: integer
                        accounts:
                          type: array
                          items:
                            type: object
                        waits:
                          type: array
                          items:
                            type: object
              total_resources:
                type: object
                properties:
                  owner:
                    type: string
                  net_weight:
                    type: string
                  cpu_weight:
                    type: string
                  ram_bytes:
                    type: integer
              self_delegated_bandwidth:
                type: 'null'
              refund_request:
                type: 'null'
              voter_info:
                type: 'null'
          examples:
            application/json:
              account_name: qkx1keadtwau
              head_block_num: 30682251
              head_block_time: '2020-09-18T14:45:02.500'
              privileged: false
              last_code_update: '1970-01-01T00:00:00.000'
              created: '2020-08-31T14:41:54.000'
              ram_quota: 26112
              net_weight: -1
              cpu_weight: -1
              net_limit:
                used: -1
                available: -1
                max: -1
              cpu_limit:
                used: -1
                available: -1
                max: -1
              ram_usage: 2996
              permissions:
                - perm_name: active
                  parent: owner
                  required_auth:
                    threshold: 1
                    keys:
                      - key: FIO5nejysoKY5U9fxGicT6oR2ztW6CPazJRZBoPR1Dh3oJUGssqJE
                        weight: 1
                    accounts: []
                    waits: []
                - perm_name: owner
                  parent: ''
                  required_auth:
                    threshold: 1
                    keys:
                      - key: FIO5nejysoKY5U9fxGicT6oR2ztW6CPazJRZBoPR1Dh3oJUGssqJE
                        weight: 1
                    accounts: []
                    waits: []
              total_resources:
                owner: qkx1keadtwau
                net_weight: 0.000000000 FIO
                cpu_weight: 0.000000000 FIO
                ram_bytes: 0
              self_delegated_bandwidth: null
              refund_request: null
              voter_info: null
      summary: Get account information
      description: >-
        Returns information about the
        [account](/docs/fio-protocol/keys-accounts#fio-accounts), such
        as creation date and permissions.


        If you are trying to use this method to get FIO Public Key from an
        account, please note that users have the options of swapping their key,
        for example to create a multisig, see tw4tjkmo4eyd
      operationId: get_account
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              account_name:
                type: string
                example: 5jfctnozulcb
            required:
              - account_name
      tags:
        - Getters
  /get_info:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              server_version:
                type: string
              chain_id:
                type: string
              head_block_num:
                type: integer
              last_irreversible_block_num:
                type: integer
              last_irreversible_block_id:
                type: string
              head_block_id:
                type: string
              head_block_time:
                type: string
              head_block_producer:
                type: string
              virtual_block_cpu_limit:
                type: integer
              virtual_block_net_limit:
                type: integer
              block_cpu_limit:
                type: integer
              block_net_limit:
                type: integer
              server_version_string:
                type: string
          examples:
            application/json:
              server_version: 8578680f
              chain_id: cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f
              head_block_num: 1201696
              last_irreversible_block_num: 1201656
              last_irreversible_block_id: 001255f8d3e90e4573265d5ee71a64d6a20dccee5226a0c2e30b4c0a1b082068
              head_block_id: 00125620fac409486e7fea1bebb0b506f8beb679b250a76e95e6f50d02e85d3f
              head_block_time: '2019-09-27T15:28:43.500'
              head_block_producer: 5spujqoyq4ie
              virtual_block_cpu_limit: 200000000
              virtual_block_net_limit: 1048576000
              block_cpu_limit: 199900
              block_net_limit: 1048576
              server_version_string: v1.2.1-2421-g92993a283
      summary: Get blockchain information
      description: Retrieves information about the FIO blockchain.
      operationId: get_info
      tags:
        - Getters
  /get_block:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              timestamp:
                type: string
              producer:
                type: string
              confirmed:
                type: integer
              previous:
                type: string
              transaction_mroot:
                type: string
              action_mroot:
                type: string
              schedule_version:
                type: integer
              new_producers:
                type: 'null'
              header_extensions:
                type: array
                items:
                  type: object
              producer_signature:
                type: string
              transactions:
                type: array
                items:
                  type: object
              block_extensions:
                type: array
                items:
                  type: object
              id:
                type: string
              block_num:
                type: integer
              ref_block_prefix:
                type: integer
          examples:
            application/json:
              timestamp: '2019-09-27T15:28:23.500'
              producer: 5spujqoyq4ie
[...]
