swagger: '2.0'
info:
  title: FIO Protocol API
  version: '1.0'
  description: FIO Protocol API
  license:
    name: MIT
  contact:
    url: http://fioprotocol.io
    email: info@fioprotocol.io
    name: FIO
servers:
- url: http://testnet.fioprotocol.io/v1/chain
  description: FIO Testnet server
paths:
  /get_pub_address:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              public_address:
                type: string
                description: Public address for requested FIO Address and token.
          examples:
            application/json:
              public_address: '0xab5801a7d398351b8be11c439e05c5b3259aec9b'
        '400':
          description: "Possible error messages:\n* \t\"Invalid FIO Address\"\n* \t\"Invalid Chain Code\"\n* \t\"Invalid Token Code\""
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: public_address
                  value: ''
                  error: Invalid public address format
        '404':
          description: |-
            Possible error messages:
            * "Public address not found"
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: Public address not found
      summary: Gets public address for FIO Address
      description: Returns a public address for specified token code and FIO Address.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - fio_address
              - chain_code
              - token_code
            properties:
              fio_address:
                type: string
                title: FIO Address
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
              chain_code:
                type: string
                title: Token/chain code
                minLength: 1
                maxLength: 10
                pattern: '^[A-Z0-9]+$'
              token_code:
                type: string
                title: Token/chain code
                minLength: 1
                maxLength: 10
                pattern: '^[A-Z0-9]+$'
            example:
              fio_address: purse@alice
              chain_code: FIO
              token_code: FIO
      operationId: get_pub_address
      tags:
        - Getters
  /avail_check:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              is_registered:
                type: integer
                example: 1
                description: |-
                  * 1 - FIO Address or Domain is registered
                  * 0 - FIO Address or Domain is not registered
          examples:
            application/json:
              is_registered: 1
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Name"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_name
                  value: _.@
                  error: Invalid FIO Name
      summary: FIO Address or Domain availability check
      description: Checks if a FIO Address or FIO Domain is available for registration.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - fio_name
            properties:
              fio_name:
                type: string
                description: FIO Address or FIO Domain to check.
            example:
              fio_name: purse@alice
      operationId: avail_check
      tags:
        - Getters
  /get_fio_names:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              fio_domains:
                type: array
                items:
                  type: object
                  properties:
                    fio_domain:
                      type: string
                      title: FIO Domain
                      minLength: 1
                      maxLength: 62
                      pattern: '^[a-z0-9-]+$'
                    expiration:
                      type: string
                      format: date-time
                      title: Date/time
                    is_public:
                      type: integer
                      description: |-
                        * 0 - domain is not public
                        * 1 - domain is public
              fio_addresses:
                type: array
                items:
                  type: object
                  properties:
                    fio_address:
                      type: string
                      title: FIO Address
                      minLength: 3
                      maxLength: 64
                      pattern: >-
                        ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
                    expiration:
                      type: string
                      format: date-time
                      title: Date/time
          examples:
            application/json:
              fio_domains:
                - fio_domain: alice
                  expiration: '2020-09-11T18:30:56'
                  is_public: 0
              fio_addresses:
                - fio_address: purse@alice
                  expiration: '2020-09-11T18:30:56'
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: |-
            Possible error messages:
            * "No FIO names"
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No FIO names
      summary: Get FIO Names
      description: Returns FIO Addresses and FIO Domains owned by this public key.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
            required:
              - fio_public_key
            example:
              fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
      operationId: get_fio_names
      tags:
        - Getters
  /get_pending_fio_requests:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              requests:
                type: array
                description: Multiple requests may be returned. All requests are returned.
                items:
                  type: object
                  properties:
                    fio_request_id:
                      type: string
                      description: Id of that funds request.
                    payer_fio_address:
                      type: string
                      description: >-
                        FIO Address of the payer. This address initiated
                        payment.
                    payee_fio_address:
                      type: string
                      description: >-
                        FIO Address of the payee. This address is receiving
                        payment.
                    payer_fio_public_key:
                      type: string
                      description: FIO public key of the payer.
                    payee_fio_public_key:
                      type: string
                      description: FIO public key of the payee.
                    content:
                      type: object
                      title: FIO Request encrypted content
                      description: >-
                        Certain content inside FIO Request is encrypted and
                        packed into this field.


                        Min 64 characters

                        Max 296 characters
                      properties:
                        payee_public_address:
                          type: object
                          properties: {}
                          title: Native Blockchain Public Address
                          description: "This is the public address on another blockchain. Both integrated addresses as well as URI Scheme are supported.\n\n**Integrated Address**\nIf the blockchain supports it, an integrated address may be passed in just like standard public address. The FIO protocol does not perform validation on the passed string.\n\n**URI Scheme**\nFIO Protocol will support formatting of public addresses using URI were certain attributes are appended to the public address following a '?' and delimited with '&'. To allow inter-wallet operability, the following standardized parameters will be supported in official FIO Protocol SDKs.\n\n**Parameters**\n* dt - Ripple\n* memo - Any - use as generic memo field\n* memo_id -\tStellar\n* memo_text -\tStellar\n* memo_hash -\tStellar\n* memo_return -\tStellar\n* payment_id - Monero\n"
                        amount:
                          type: string
                          description: Amount requested.
                        token_code:
                          type: string
                          title: Token/chain code
                          minLength: 1
                          maxLength: 10
                          pattern: '^[A-Z0-9]+$'
                        memo:
                          type: string
                        hash:
                          type: string
                        offline_url:
                          type: string
                        future_use1:
                          type: string
                        future_use2:
                          type: string
                        future_use3:
                          type: string
                        future_use4:
                          type: string
                        future_use5:
                          type: string
                      required:
                        - payee_public_address
                        - amount
                        - token_code
                        - memo
                        - hash
                        - offline_url
                        - future_use1
                        - future_use2
                        - future_use3
                        - future_use4
                        - future_use5
                    time_stamp:
                      type: string
                      description: Timestamp of request
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              requests:
                - fio_request_id: '10'
                  payer_fio_address: purse@alice
                  payee_fio_address: crypto@bob
                  payer_fio_public_key: FIO7167ErgCveJvuonvrEvVGhdWnkP4AEMfqvEd8s8raMkbbAXqhx
                  payee_fio_public_key: FIO7KGdMYj4ZMY2nUX9EaZu3G3GxZhTNXUq1tsNqC5rcP9rcmvWHq
                  content: ...
                  time_stamp: '2020-09-11T18:30:56'
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "No pending FIO Requests"
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No pending FIO Requests
      summary: Get pending FIO Requests
      description: Pending requests call polls for any pending requests sent to a receiver.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
            required:
              - fio_public_key
            example:
              fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit: 100
              offset: 0
      operationId: get_pending_fio_requests
      tags:
        - Getters
  /get_fio_balance:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              balance:
                type: integer
                description: SUF balance associated with supplied public key.
          examples:
            application/json:
              balance: 100000000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: |-
            Possible error messages:
            * "Public key not found"
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: Public key not found
      summary: Get FIO balance
      description: Retrieves balance of FIO tokens.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
            required:
              - fio_public_key
            example:
              fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
      operationId: get_fio_balance
      tags:
        - Getters
  /get_fee:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              fee:
                type: integer
                description: 'Amount of fee in SUFs '
          examples:
            application/json:
              fee: 100000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid end point"
            * "Invalid FIO Address"
            * "No such FIO Address"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: end_point
                  value: blah
                  error: Invalid end point
      description: Computes and returns fee amount for specific call and specific user.
      summary: Get fee amount
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              end_point:
                type: string
                description: 'Name of API call end point, e.g. add_pub_address'
              fio_address:
                type: string
                title: FIO Address
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
            required:
              - end_point
              - fio_address
            example:
              end_point: add_pub_address
              fio_address: alice@purse
          description: |-
            Valid FIO Address required on the following calls:
            * add_pub_address
            * new_funds_request
            * reject_funds_request
            * record_obt_data
      operationId: get_fee
      tags:
        - Getters
  /get_info:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              server_version:
                type: string
              chain_id:
                type: string
              head_block_num:
                type: integer
              last_irreversible_block_num:
                type: integer
              last_irreversible_block_id:
                type: string
              head_block_id:
                type: string
              head_block_time:
                type: string
              head_block_producer:
                type: string
              virtual_block_cpu_limit:
                type: integer
              virtual_block_net_limit:
                type: integer
              block_cpu_limit:
                type: integer
              block_net_limit:
                type: integer
              server_version_string:
                type: string
          examples:
            application/json:
              server_version: 8578680f
              chain_id: cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f
              head_block_num: 1201696
              last_irreversible_block_num: 1201656
              last_irreversible_block_id: 001255f8d3e90e4573265d5ee71a64d6a20dccee5226a0c2e30b4c0a1b082068
              head_block_id: 00125620fac409486e7fea1bebb0b506f8beb679b250a76e95e6f50d02e85d3f
              head_block_time: '2019-09-27T15:28:43.500'
              head_block_producer: 5spujqoyq4ie
              virtual_block_cpu_limit: 200000000
              virtual_block_net_limit: 1048576000
              block_cpu_limit: 199900
              block_net_limit: 1048576
              server_version_string: v1.2.1-2421-g92993a283
      summary: Get FIO blockchain information
      description: Retrieves information about the FIO blockchain.
      operationId: get_info
      tags:
        - Getters
  /get_block:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              timestamp:
                type: string
              producer:
                type: string
              confirmed:
                type: integer
              previous:
                type: string
              transaction_mroot:
                type: string
              action_mroot:
                type: string
              schedule_version:
                type: integer
              new_producers:
                type: 'null'
              header_extensions:
                type: array
                items:
                  type: object
              producer_signature:
                type: string
              transactions:
                type: array
                items:
                  type: object
              block_extensions:
                type: array
                items:
                  type: object
              id:
                type: string
              block_num:
                type: integer
              ref_block_prefix:
                type: integer
          examples:
            application/json:
              timestamp: '2019-09-27T15:28:23.500'
              producer: 5spujqoyq4ie
              confirmed: 0
              previous: 001255f72bd0a154355dddec8391de0f20a3619ee6802535e6bd8f4ea2caf0df
              transaction_mroot: '0000000000000000000000000000000000000000000000000000000000000000'
              action_mroot: d8552b686d6b520d39bf27c3bb49968b5ca52e370467962e42edc151437d01c6
              schedule_version: 2
              new_producers: null
              header_extensions: []
              producer_signature: >-
                SIG_K1_K5WD9qbSfJwMz1doYBn5znfFsPh9UiV2p9XAbkDDV2nvpQXq2D23EU6vuGSndSZ7FATqkNn5dqZFtaBricHRJvtgGFZ9pG
              transactions: []
              block_extensions: []
              id: 001255f8d3e90e4573265d5ee71a64d6a20dccee5226a0c2e30b4c0a1b082068
              block_num: 1201656
              ref_block_prefix: 1583162995
      summary: Get block information
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              block_num_or_id:
                type: string
                description: >-
                  last_irreversible_block_num or last_irreversible_block_id from
                  /get_info
            required:
              - block_num_or_id
            example:
              block_num_or_id: '39570'
      description: Retrieves information about the specific block.
      operationId: get_block
      tags:
        - Getters
  /get_raw_abi:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              account_name:
                type: string
              code_hash:
                type: string
              abi_hash:
                type: string
              abi:
                type: string
          examples:
            application/json:
              account_name: fio.system
              code_hash: 0e5e404480e07b5b1c9d0d8cfbe4f04b8f3fd3477a42251bab8191e6e6c241a8
              abi_hash: d98bbfa97018efcdfbbf42b62406707bc17498e630f58e4529029af71042d861
              abi: >-
                DmVvc2lvOjphYmkvMS4wABMHZmlvbmFtZQAIBG5hbWUGc3RyaW5nCG5hbWVoYXNoBnVpbnQ2NAZkb21haW4Gc3RyaW5nCmRvbWFpbmhhc2gGdWludDY0CmV4cGlyYXRpb24GdWludDY0DW93bmVyX2FjY291bnQEbmFtZQlhZGRyZXNzZXMIc3RyaW5nW10XYnVuZGxlZWxpZ2libGVjb3VudGRvd24GdWludDY0BmRvbWFpbgAFBG5hbWUGc3RyaW5nCmRvbWFpbmhhc2gGdWludDY0CWlzX3B1YmxpYwV1aW50OApleHBpcmF0aW9uBnVpbnQzMgdhY2NvdW50BnVpbnQ2NAljaGFpbkxpc3QAAwRuYW1lBnN0cmluZwJpZAZ1aW50NjQJY2hhaW5oYXNoBnVpbnQzMgplb3Npb19uYW1lAAMHYWNjb3VudARuYW1lCWNsaWVudGtleQZzdHJpbmcHa2V5aGFzaAZ1aW50NjQJY2hhaW5wYWlyAAMFaW5kZXgGdWludDY0CWNoYWlubmFtZQZzdHJpbmcJY2hhaW5oYXNoBnVpbnQ2NApyZWdhZGRyZXNzAAULZmlvX2FkZHJlc3MGc3RyaW5nFG93bmVyX2Zpb19wdWJsaWNfa2V5BnN0cmluZwdtYXhfZmVlBnVpbnQ2NAVhY3RvcgRuYW1lBHRwaWQGc3RyaW5nCmFkZGFkZHJlc3MABgtmaW9fYWRkcmVzcwZzdHJpbmcKdG9rZW5fY29kZQZzdHJpbmcOcHVibGljX2FkZHJlc3MGc3RyaW5nB21heF9mZWUGdWludDY0BWFjdG9yBG5hbWUEdHBpZAZzdHJpbmcJcmVnZG9tYWluAAUKZmlvX2RvbWFpbgZzdHJpbmcUb3duZXJfZmlvX3B1YmxpY19rZXkGc3RyaW5nB21heF9mZWUGdWludDY0BWFjdG9yBG5hbWUEdHBpZAZzdHJpbmcLcmVuZXdkb21haW4ABApmaW9fZG9tYWluBnN0cmluZwdtYXhfZmVlBnVpbnQ2NAR0cGlkBnN0cmluZwVhY3RvcgRuYW1lDHJlbmV3YWRkcmVzcwAEC2Zpb19hZGRyZXNzBnN0cmluZwdtYXhfZmVlBnVpbnQ2NAR0cGlkBnN0cmluZwVhY3RvcgRuYW1lCWV4cGRvbWFpbgACBWFjdG9yBG5hbWUGZG9tYWluBnN0cmluZwxleHBhZGRyZXNzZXMABAVhY3RvcgRuYW1lBmRvbWFpbgZzdHJpbmcOYWRkcmVzc19wcmVmaXgGc3RyaW5nF251bWJlcl9hZGRyZXNzZXNfdG9fYWRkBnVpbnQ2NAxzZXRkb21haW5wdWIABQpmaW9fZG9tYWluBnN0cmluZwlpc19wdWJsaWMFdWludDgHbWF4X2ZlZQZ1aW50NjQFYWN0b3IEbmFtZQR0cGlkBnN0cmluZwtidXJuZXhwaXJlZAAACnJlbW92ZW5hbWUAAAxyZW1vdmVkb21haW4AAApybXZhZGRyZXNzAAALZGVjcmNvdW50ZXIAAQtmaW9fYWRkcmVzcwZzdHJpbmcKYmluZDJlb3NpbwADB2FjY291bnQEbmFtZQpjbGllbnRfa2V5BnN0cmluZwhleGlzdGluZwRib29sDQAAxuqmZJi6CnJlZ2FkZHJlc3MAAADG6qZkUjIKYWRkYWRkcmVzcwAAAJjOSJqYuglyZWdkb21haW4AAKYzkiauproLcmVuZXdkb21haW4AgLG6KRmuproMcmVuZXdhZGRyZXNzAAAAmM5ImmpXCWV4cGRvbWFpbgCAFcbqpmRqVwxleHBhZGRyZXNzZXMAAJK6rnY1rz4LYnVybmV4cGlyZWQAAICSZqpNpboKcmVtb3ZlbmFtZQAwnZE0qU2lugxyZW1vdmVkb21haW4AAADG6qZktrwKcm12YWRkcmVzcwBwdJ3OSJqywgxzZXRkb21haW5wdWIAAAB1mCqRpjsKYmluZDJlb3NpbwAEAAAAWEkzqVsDaTY0AQRuYW1lAQZzdHJpbmcHZmlvbmFtZQAAAABPZyRNA2k2NAEEbmFtZQEGc3RyaW5nBmRvbWFpbgAAAADg6UxDA2k2NAEEbmFtZQEGc3RyaW5nCWNoYWluTGlzdABANTJPTREyA2k2NAEHYWNjb3VudAEGdWludDY0CmVvc2lvX25hbWUAAAAA=
      description: The ABI is required to properly pack content of signed calls.
      summary: Get ABI for specific account name
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              account_name:
                type: string
                description: Account name. Check request definition for specific call.
            required:
              - account_name
            example:
              account_name: fio.system
      operationId: get_raw_abi
      tags:
        - Getters
  /get_producers:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              producers:
                type: array
                items:
                  type: object
                  properties:
                    owner:
                      type: string
                    fio_address:
                      type: string
                    total_votes:
                      type: string
                    producer_fio_public_key:
                      type: string
                    is_active:
                      type: integer
                    url:
                      type: string
                    unpaid_blocks:
                      type: integer
                    last_claim_time:
                      type: string
                    location:
                      type: integer
              total_producer_vote_weight:
                type: string
              more:
                type: string
          examples:
            application/json:
              producers:
                - owner: fioproducerd
                  fio_address: ''
                  total_votes: '4999000000000.00000000000000000'
                  producer_fio_public_key: FIO79vbwYtjhBVnBRYDjhCyxRFVr6JsFfVrLVhUKoqFTnceZtPvAU
                  is_active: 1
                  url: ''
                  unpaid_blocks: 302361
                  last_claim_time: '2019-09-20T16:35:26.000'
                  location: 0
                - owner: fioproducerc
                  fio_address: ''
                  total_votes: '3999000000000.00000000000000000'
                  producer_fio_public_key: FIO79vbwYtjhBVnBRYDjhCyxRFVr6JsFfVrLVhUKoqFTnceZtPvAU
                  is_active: 1
                  url: ''
                  unpaid_blocks: 302349
                  last_claim_time: '2019-09-20T16:35:25.500'
                  location: 0
                - owner: fioproducerb
                  fio_address: ''
                  total_votes: '2999000000000.00000000000000000'
                  producer_fio_public_key: FIO79vbwYtjhBVnBRYDjhCyxRFVr6JsFfVrLVhUKoqFTnceZtPvAU
                  is_active: 1
                  url: ''
                  unpaid_blocks: 302352
                  last_claim_time: '2019-09-20T16:35:25.500'
                  location: 0
                - owner: 5spujqoyq4ie
                  fio_address: ''
                  total_votes: '1999000000000.00000000000000000'
                  producer_fio_public_key: FIO77odcm3LYr6YduUxf83a4jp4pQ4YvKAjBkHJnLxq2SsgNSc13u
                  is_active: 1
                  url: ''
                  unpaid_blocks: 302364
                  last_claim_time: '2019-09-20T16:35:25.500'
                  location: 0
                - owner: 2ugokdhavqow
                  fio_address: pawel366688@woohoo56311
                  total_votes: '0.00000000000000000'
                  producer_fio_public_key: FIO1111111111111111111111111111111114T1Anm
                  is_active: 0
                  url: h
                  unpaid_blocks: 0
                  last_claim_time: '2019-09-26T22:40:30.000'
                  location: 80
                - owner: gev2yeim1cjy
                  fio_address: pawel554427@woohoo56311
                  total_votes: '998769980000000.00000000000000000'
                  producer_fio_public_key: FIO1111111111111111111111111111111114T1Anm
                  is_active: 0
                  url: ''
                  unpaid_blocks: 0
                  last_claim_time: '2019-09-26T22:40:22.000'
                  location: 80
              total_producer_vote_weight: '1012765980000000.00000000000000000'
              more: ''
        '400':
          description: |-
            Possible error messages:
            * "Invalid limit"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: limit
                  value: '-100'
                  error: Invalid limit
      summary: Get a list of current block producers
      description: This call returns all block producers and their scaled votes.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              limit:
                type: string
                description: Total number of producers to retrieve
              lower_bound:
                type: string
              json:
                type: boolean
                description: Return result in JSON format?
            example:
              limit: '10'
              lower_bound: ...........1f
              json: true
      operationId: get_producers
      tags:
        - Getters
  /get_sent_fio_requests:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              requests:
                type: array
                description: Multiple requests may be returned. All requests are returned.
                items:
                  type: object
                  properties:
                    fio_request_id:
                      type: string
                      description: Id of that funds request.
                    payer_fio_address:
                      type: string
                      description: >-
                        FIO Address of the payer. This address initiated
                        payment.
                    payee_fio_address:
                      type: string
                      description: >-
                        FIO Address of the payee. This address is receiving
                        payment.
                    payer_fio_public_key:
                      type: string
                      description: FIO public key of the payer.
                    payee_fio_public_key:
                      type: string
                      description: FIO public key of the payee.
                    content:
                      type: object
                      title: FIO Request encrypted content
                      description: >-
                        Certain content inside FIO Request is encrypted and
                        packed into this field.


                        Min 64 characters

                        Max 296 characters
                      properties:
                        payee_public_address:
                          type: object
                          title: Native Blockchain Public Address
                          description: "This is the public address on another blockchain. Both integrated addresses as well as URI Scheme are supported.\n\n**Integrated Address**\nIf the blockchain supports it, an integrated address may be passed in just like standard public address. The FIO protocol does not perform validation on the passed string.\n\n**URI Scheme**\nFIO Protocol will support formatting of public addresses using URI were certain attributes are appended to the public address following a '?' and delimited with '&'. To allow inter-wallet operability, the following standardized parameters will be supported in official FIO Protocol SDKs.\n\n**Parameters**\n* dt - Ripple\n* memo - Any - use as generic memo field\n* memo_id -\tStellar\n* memo_text -\tStellar\n* memo_hash -\tStellar\n* memo_return -\tStellar\n* payment_id - Monero\n"
                        amount:
                          type: string
                          description: Amount requested.
                        token_code:
                          type: string
                          title: Token/chain code
                          minLength: 1
                          maxLength: 10
                          pattern: '^[A-Z0-9]+$'
                        memo:
                          type: string
                        hash:
                          type: string
                        offline_url:
                          type: string
                        future_use1:
                          type: string
                        future_use2:
                          type: string
                        future_use3:
                          type: string
                        future_use4:
                          type: string
                        future_use5:
                          type: string
                      required:
                        - payee_public_address
                        - amount
                        - token_code
                        - memo
                        - hash
                        - offline_url
                        - future_use1
                        - future_use2
                        - future_use3
                        - future_use4
                        - future_use5
                    time_stamp:
                      type: string
                      description: Timestamp of request
                    status:
                      type: string
                      title: FIO Request status
                      description: Status of FIO Request
                      enum:
                        - requested
                        - sent_to_blockchain
                        - rejected
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              requests:
                - fio_request_id: >-
                    309753b6b0aca9ba107c06332c4294ec2d8a270133a17239f07bc62b704ccb87
                  payer_fio_address: purse@alice
                  payee_fio_address: crypto@bob
                  payer_fio_public_key: FIO7167ErgCveJvuonvrEvVGhdWnkP4AEMfqvEd8s8raMkbbAXqhx
                  payee_fio_public_key: FIO7KGdMYj4ZMY2nUX9EaZu3G3GxZhTNXUq1tsNqC5rcP9rcmvWHq
                  content: ...
                  time_stamp: '2020-09-11T18:30:56'
                  status: rejected
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
            * "Invalid limit"
            * "Invalid offset"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '404':
          description: |-
            Possible error messages:
            * "No FIO Requests"
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No FIO Requests
      summary: Get FIO Requests sent out
      description: >-
        Sent requests call polls for any requests sent by provided FIO public
        key.
      operationId: get_sent_fio_requests
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
            required:
              - fio_public_key
            example:
              fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit: 100
              offset: 0
      tags:
        - Getters
  /get_obt_data:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              obt_data_records:
                type: array
                description: Multiple OBT Data Records may be returned.
                items:
                  type: object
                  properties:
                    payer_fio_address:
                      type: string
                      description: >-
                        FIO Address of the payer. This address initiated
                        payment.
                    payee_fio_address:
                      type: string
                      description: >-
                        FIO Address of the payee. This address is receiving
                        payment.
                    payer_fio_public_key:
                      type: string
                      description: FIO public key of the payer.
                    payee_fio_public_key:
                      type: string
                      description: FIO public key of the payee.
                    content:
                      type: object
                      title: FIO Data encrypted content
                      description: >-
                        Certain content inside FIO Data is encrypted and packed
                        into this field.


                        Min 64 characters

                        Max 432 characters
                      properties:
                        payer_public_address:
                          type: string
                          description: >-
                            Public address on other blockchain of user sending
                            funds.
                        payee_public_address:
                          type: string
                          description: >-
                            Public address on other blockchain of user receiving
                            funds.
                        amount:
                          type: string
                          description: Amount sent.
                        token_code:
                          type: string
                          title: Token/chain code
                          minLength: 1
                          maxLength: 10
                          pattern: '^[A-Z0-9]+$'
                        status:
                          type: string
                          description: |-
                            Status of this OBT. Allowed statuses are:
                            * sent_to_blockchain
                        obt_id:
                          type: string
                          description: >-
                            Other Blockchain Transaction ID (OBT ID), i.e
                            Bitcoin transaction ID
                        memo:
                          type: string
                          description: memo field
                        hash:
                          type: string
                        offline_url:
                          type: string
                      required:
                        - payer_public_address
                        - payee_public_address
                        - amount
                        - token_code
                        - status
                        - obt_id
                        - memo
                        - hash
                        - offline_url
                    fio_request_id:
                      type: integer
                      description: 'Id of FIO Request, if in response to FIO Request.'
                    status:
                      type: string
                      description: In current version alwasy sent_to_blockchain
                    time_stamp:
                      type: string
                      description: Timestamp of transaction
              more:
                type: integer
                description: |-
                  0 - no more results
                  1 - more results
          examples:
            application/json:
              obt_data_records:
                - payer_fio_address: purse@alice
                  payee_fio_address: crypto@bob
                  payer_fio_public_key: FIO7167ErgCveJvuonvrEvVGhdWnkP4AEMfqvEd8s8raMkbbAXqhx
                  payee_fio_public_key: FIO7KGdMYj4ZMY2nUX9EaZu3G3GxZhTNXUq1tsNqC5rcP9rcmvWHq
                  content: ...
                  fio_request_id: 10
                  status: sent_to_blockchain
                  time_stamp: '2020-09-11T18:30:56'
              more: 0
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO Public Key"
            * "Invalid limit"
            * "Invalid offset"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_public_key
                  value: FIO123
                  error: Invalid FIO Public Key
        '404':
          description: ''
          schema:
            type: object
            properties: {}
            title: Error 404
            description: >-
              HTTP code 404 is returned when the requested information could not
              be found.
          examples:
            application/json:
              message: No OBT data records
      summary: Get OBT data
      description: >-
        Retrives Other Blockchain Transaction (OBT) metadata data stored using
        /record_obt_data. This call will return all metadata relevant to the
        provided FIO Public key, including:

        * Outbound data. Payer's FIO Address is owned by provided FIO Public key

        * Inbound data. Payee's FIO Address is owned by provided FIO Public key
      operationId: get_obt_data
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
              limit:
                type: integer
                description: >-
                  Number of requests to return. If omitted, all requests will be
                  returned.
                minimum: 0
              offset:
                type: integer
                description: 'First request from list to return. If omitted, 0 is assumed.'
                minimum: 0
            required:
              - fio_public_key
            example:
              fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              limit: 100
              offset: 0
      tags:
        - Getters
  /get_actor:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - actor
            properties:
              actor:
                type: string
          examples:
            application/json:
              actor: gev2yeim1cjy
      summary: Get actor from public key
      description: >-
        Convenience method, which returns [actor](/api/actor) for supplied FIO
        Public Key. The FIO Chain is not checked for existence of this actor, it
        simply converts the key to actor using [hash function](/api/actor).
      operationId: get_actor
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - fio_public_key
            properties:
              fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
            example:
              fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
      tags:
        - Getters
  /get_table_rows:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              rows:
                type: array
                description: Rows from table. Format depands on table queried.
                items: {}
              more:
                type: boolean
                description: Indicates if more results are available.
          examples:
            application/json:
              rows:
                - id: 10070
                  name: referral@fio
                  namehash: '0xc3bf40257f090f2887271c515ebac1dc'
                  domain: fio
                  domainhash: '0x8d9d3bd8a6fb22345ce8fa3c416a28e5'
                  expiration: 1624985778
                  owner_account: 534jl4ye5oai
                  addresses:
                    - token_code: FIO
                      chain_code: FIO
                      public_address: FIO6dZx1TeggbrDemzVNdvuVJdgZ4RXAtGMBm5xcHJZVYgPFRQmpk
                  bundleeligiblecountdown: 100
              more: true
      summary: Get state table content
      description: "This call can be used to return any data from the state table.\n\n## Returning all public addresses example\nHere's an advance example of a query returning all public addresses mapped to a single FIO Address.\n\nThe data is contained in *fionames* table in *fio.address* contract and *fio.address* scope.\n\nThe FIO Address is index position *5* of index_type *i128*.\n\n### Compute index\nThe hash is a truncated sha1 hash, in big-endian order, as a hex-string.\n1. Calculate the sha1 sum of the address\n2. Take the first 16 bytes\n3. Reverse the byte order\n4. Convert to a hexadecimal string, and prepend \"0x\"\n\nExample for \"test@fiotestnet\"\n1. sha1 hash: 58df646ca7a4c9be1e1436b9ae1608eb62e653a0\n2. First 16 bytes: 58df646ca7a4c9be1e1436b9ae1608eb\n3. Reverse byte order (big endian): eb0816aeb936141ebec9a4a76c64df58\n4. Prepend 0x\n\n```\nfunction nameHash(name) {\n    const hash = require('crypto').createHash('sha1')\n    return '0x' + hash.update(name).digest().slice(0,16).reverse().toString(\"hex\")\n}\n\nconsole.log( nameHash('test@fiotestnet') )\n// outputs: 0xeb0816aeb936141ebec9a4a76c64df58\n```\n\n### Query table\nTo query the table, specify index 5, with a type of i128, using the hash as the upper and lower bounds:\n```\n{\n\t\"code\": \"fio.address\",\n\t\"scope\": \"fio.address\",\n\t\"table\": \"fionames\",\n\t\"lower_bound\": \"0xeb0816aeb936141ebec9a4a76c64df58\",\n\t\"upper_bound\": \"0xeb0816aeb936141ebec9a4a76c64df58\",\n\t\"key_type\": \"i128\",\n\t\"index_position\": \"5\",\n\t\"json\": true\n}\n```"
      operationId: get_table_rows
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              code:
                type: string
                description: >-
                  The name of the smart contract that controls the provided
                  table.
              scope:
                type: string
                description: The account to which this data belongs.
              table:
                type: string
                description: The name of the table as specified by the contract abi.
              lower_bound:
                type: string
                description: >-
                  Filters results to return the first element that is not less
                  than provided value in set.
              upper_bound:
                type: string
                description: >-
                  Filters results to return the first element that is greater
                  than provided value in set.
              key_type:
                type: string
                description: >-
                  Type of key specified by index_position (for example -
                  uint64_t or name).
              index_position:
                type: string
                description: Position of the index used.
              limit:
                type: integer
                description: >-
                  Number of rows to return. If omitted, all requests will be
                  returned.
              json:
                type: boolean
                description: Get the response as json.
              reverse:
                type: boolean
                description: Return data in reverse order.
            required:
              - code
              - scope
              - table
            example:
              code: fio.address
              scope: fio.address
              table: fionames
              lower_bound: '0xeb0816aeb936141ebec9a4a76c64df58'
              upper_bound: '0xeb0816aeb936141ebec9a4a76c64df58'
              key_type: i128
              index_position: '5'
              json: true
      tags:
        - Getters
  /get_account:
    post:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              account_name:
                type: string
              head_block_num:
                type: integer
              head_block_time:
                type: string
              privileged:
                type: boolean
              last_code_update:
                type: string
              created:
                type: string
              ram_quota:
                type: integer
              net_weight:
                type: integer
              cpu_weight:
                type: integer
              net_limit:
                type: object
                properties:
                  used:
                    type: integer
                  available:
                    type: integer
                  max:
                    type: integer
              cpu_limit:
                type: object
                properties:
                  used:
                    type: integer
                  available:
                    type: integer
                  max:
                    type: integer
              ram_usage:
                type: integer
              permissions:
                type: array
                items:
                  type: object
                  properties:
                    perm_name:
                      type: string
                    parent:
                      type: string
                    required_auth:
                      type: object
                      properties:
                        threshold:
                          type: integer
                        keys:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              weight:
                                type: integer
                        accounts:
                          type: array
                          items:
                            type: object
                        waits:
                          type: array
                          items:
                            type: object
              total_resources:
                type: object
                properties:
                  owner:
                    type: string
                  net_weight:
                    type: string
                  cpu_weight:
                    type: string
                  ram_bytes:
                    type: integer
              self_delegated_bandwidth:
                type: 'null'
              refund_request:
                type: 'null'
              voter_info:
                type: 'null'
          examples:
            application/json:
              account_name: qkx1keadtwau
              head_block_num: 30682251
              head_block_time: '2020-09-18T14:45:02.500'
              privileged: false
              last_code_update: '1970-01-01T00:00:00.000'
              created: '2020-08-31T14:41:54.000'
              ram_quota: 26112
              net_weight: -1
              cpu_weight: -1
              net_limit:
                used: -1
                available: -1
                max: -1
              cpu_limit:
                used: -1
                available: -1
                max: -1
              ram_usage: 2996
              permissions:
                - perm_name: active
                  parent: owner
                  required_auth:
                    threshold: 1
                    keys:
                      - key: FIO5nejysoKY5U9fxGicT6oR2ztW6CPazJRZBoPR1Dh3oJUGssqJE
                        weight: 1
                    accounts: []
                    waits: []
                - perm_name: owner
                  parent: ''
                  required_auth:
                    threshold: 1
                    keys:
                      - key: FIO5nejysoKY5U9fxGicT6oR2ztW6CPazJRZBoPR1Dh3oJUGssqJE
                        weight: 1
                    accounts: []
                    waits: []
              total_resources:
                owner: qkx1keadtwau
                net_weight: 0.000000000 FIO
                cpu_weight: 0.000000000 FIO
                ram_bytes: 0
              self_delegated_bandwidth: null
              refund_request: null
              voter_info: null
      summary: Get account information
      description: >-
        Returns information about the
        [account](https://developers.fioprotocol.io/fio-protocol/accounts), such
        as creation date and permissions.


        If you are trying to use this method to get FIO Public Key from an
        account, please note that users have the options of swapping their key,
        for example to create a multisig, see tw4tjkmo4eyd
      operationId: get_account
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              account_name:
                type: string
            required:
              - account_name
            example:
              account_name: 5jfctnozulcb
      tags:
        - Getters
  regaddress:
    options:
      responses:
        '200':
          description: >-
            This section defines only the contents of the response returned in
            `processed->action_traces->receipt->response` string. See [push_transaction](#post-/push_transaction)
            section for the definition of the actual response.
          schema:
            type: object
            properties:
              status:
                type: string
                description: OK
              expiration:
                type: string
                format: date-time
                title: Date/time
              fee_collected:
                title: Fee collected
                description: Amount of SUFs collected as fee
                type: integer
          examples:
            application/json:
              status: OK
              expiration: '2020-09-11T18:30:56'
              fee_collected: 30000000000
            new:
              status: OK
              expiration: '2020-09-11T18:30:56'
              fee_collected: 30000000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO address"
            * "FIO address already registered"
            * "FIO Domain not registered"
            * "FIO Domain expired"
            * "FIO Domain is not public. Only owner can create FIO Addresses."
            * "Invalid FIO Public Key"
            * "Invalid fee value"
            * "Insufficient funds to cover fee"
            * "Fee exceeds supplied maximum"
            * "TPID must be empty or valid FIO address"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: fio_address
                  value: purse@alice
                  error: FIO address already registered
        '403':
          description: |-
            Possible triggers:
            * Signer's FIO Public Key does not match actor
          schema:
            type: object
            properties: {}
            description: >-
              HTTP code 403 is returned when the request signature is not valid
              or this user is not allowed to sign this transaction.
            title: Error 403
          examples:
            application/json:
              type: invalid_signature
              message: Request signature not valid or not allowed.
      summary: 'Register FIO Address'
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_address:
                type: string
                title: FIO Address
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
                description: >-
                  See [FIO Address
                  format](https://kb.fioprotocol.io/fio-protocol/fio-addresses/format)


                  Please note that FIO Address is case insensitive. If upper
                  case characters are passed in, they will be converted to lower
                  case.
              owner_fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
              max_fee:
                type: integer
                title: Max fee
                description: >-
                  Maximum amount of SUFs the user is willing to pay for fee.
                  Should be preceded by /get_fee for correct value.
              tpid:
                type: string
                title: TPID
                description: |-
                  * FIO Address of the wallet which generates this transaction.
                  * This FIO Address will be paid 10% of the fee.
                  * See FIO Protocol#TPIDs for details.
                  * Set to empty if not known.
              actor:
                type: string
                title: Actor
                description: 'See [Generating actor](/actor)'
            required:
              - fio_address
              - owner_fio_public_key
              - max_fee
              - tpid
              - actor
            example:
              fio_address: purse@alice
              owner_fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              max_fee: 30000000000
              tpid: rewards@wallet
              actor: aftyershcu22
          description: >-
            This section defines the `data` object which needs to be created before
            it's packed and signed.
      description: >-
        This section defines the object which needs to be created before it's
        packed and signed for [push_transaction](#post-/push_transaction) and the response object returned in
        `processed->action_traces->receipt->response` string.

        ### `actions` parameters

        * account: `fio.address`

        * name: `regaddress`
      operationId: register_fio_address_model
      tags:
        - Actions
  regdomain:
    options:
      responses:
        '200':
          description: >-
            This section defines only the contents of the response returned in
            `processed->action_traces->receipt->response` string. See [push_transaction](#post-/push_transaction)
            section for the definition of the actual response.
          schema:
            type: object
            properties:
              status:
                type: string
                description: OK
              expiration:
                type: string
                format: date-time
                title: Date/time
              fee_collected:
                title: Fee collected
                description: Amount of SUFs collected as fee
                type: integer
          examples:
            application/json:
              status: OK
              expiration: '2020-09-11T18:30:56'
              fee_collected: 2000000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO domain"
            * "FIO domain already registered"
            * "Invalid FIO Public Key"
            * "Invalid fee value"
            * "Insufficient funds to cover fee"
            * "Fee exceeds supplied maximum"
            * "TPID must be empty or valid FIO address"
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: max_fee
                  value: '200'
                  error: Fee exceeds supplied maximum.
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
        '403':
          description: |-
            Possible triggers:
            * Signer's FIO Public Key does not match actor
          examples:
            application/json:
              type: invalid_signature
              message: Request signature not valid or not allowed.
          schema:
            type: object
            properties: {}
            description: >-
              HTTP code 403 is returned when the request signature is not valid
              or this user is not allowed to sign this transaction.
            title: Error 403
      summary: 'Register FIO Domain'
      description: >-
        This section defines the object which needs to be created before it's
        packed and signed for [push_transaction](#post-/push_transaction) and the response object returned in
        `processed->action_traces->receipt->response` string.

        ### `actions` parameters

        * account: `fio.address`

        * name: `regdomain`
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_domain:
                type: string
                title: FIO Domain
                minLength: 1
                maxLength: 62
                pattern: '^[a-z0-9-]+$'
                description: >-
                  See [FIO Domain
                  format](https://kb.fioprotocol.io/fio-protocol/fio-addresses/format)


                  Please note that FIO Domain is case insensitive. If upper case
                  characters are passed in, they will be converted to lower
                  case.
              owner_fio_public_key:
                type: string
                title: FIO Public Key
                description: Valid WIF Public Key with FIO Prefix
              max_fee:
                type: integer
                title: Max fee
                description: >-
                  Maximum amount of SUFs the user is willing to pay for fee.
                  Should be preceded by /get_fee for correct value.
              tpid:
                type: string
                title: TPID
                description: |-
                  * FIO Address of the wallet which generates this transaction.
                  * This FIO Address will be paid 10% of the fee.
                  * See FIO Protocol#TPIDs for details.
                  * Set to empty if not known.
              actor:
                type: string
                title: Actor
                description: 'See [Generating actor](/actor)'
            required:
              - fio_domain
              - owner_fio_public_key
              - max_fee
              - tpid
              - actor
            example:
              fio_domain: alice
              owner_fio_public_key: FIO8PRe4WRZJj5mkem6qVGKyvNFgPsNnjNN6kPhh6EaCpzCVin5Jj
              max_fee: 2000000000
              tpid: rewards@wallet
              actor: aftyershcu22
          description: >-
            This section defines the `data` object which needs to be created before
            it's packed and signed.
      operationId: register_fio_domain_model
      tags:
        - Actions
  renewdomain:
    options:
      responses:
        '200':
          description: >-
            This section defines only the contents of the response returned in
            `processed->action_traces->receipt->response` string. See [push_transaction](#post-/push_transaction)
            section for the definition of the actual response.
          schema:
            type: object
            properties:
              status:
                type: string
                description: OK
              expiration:
                type: string
                format: date-time
                title: Date/time
              fee_collected:
                title: Fee collected
                description: Amount of SUFs collected as fee
                type: integer
          examples:
            application/json:
              status: OK
              expiration: '2020-09-11T18:30:56'
              fee_collected: 30000000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO domain"
            * "Invalid fee value"
            * "Insufficient funds to cover fee"
            * "Fee exceeds supplied maximum"
            * "TPID must be empty or valid FIO address"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: max_fee
                  value: '200'
                  error: Fee exceeds supplied maximum.
        '403':
          description: |-
            Possible triggers:
            * Signer's FIO Public Key does not match actor
          schema:
            type: object
            properties: {}
            description: >-
              HTTP code 403 is returned when the request signature is not valid
              or this user is not allowed to sign this transaction.
            title: Error 403
          examples:
            application/json:
              type: invalid_signature
              message: Request signature not valid or not allowed.
      summary: 'Renew FIO Domain'
      description: >-
        This section defines the object which needs to be created before it's
        packed and signed for [push_transaction](#post-/push_transaction) and the response object returned in
        `processed->action_traces->receipt->response` string.

        ### `actions` parameters

        * account: `fio.address`

        * name: `renewdomain`
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_domain:
                type: string
                title: FIO Domain
                minLength: 1
                maxLength: 62
                pattern: '^[a-z0-9-]+$'
              max_fee:
                type: integer
                title: Max fee
                description: >-
                  Maximum amount of SUFs the user is willing to pay for fee.
                  Should be preceded by /get_fee for correct value.
              tpid:
                type: string
                title: TPID
                description: |-
                  * FIO Address of the wallet which generates this transaction.
                  * This FIO Address will be paid 10% of the fee.
                  * See FIO Protocol#TPIDs for details.
                  * Set to empty if not known.
              actor:
                type: string
                title: Actor
                description: 'See [Generating actor](/actor)'
            required:
              - fio_domain
              - max_fee
              - tpid
              - actor
            example:
              fio_domain: alice
              max_fee: 30000000000
              tpid: rewards@wallet
              actor: aftyershcu22
          description: >-
            This section defines the `data` object which needs to be created before
            it's packed and signed.
      operationId: renew_fio_domain_model
      tags:
        - Actions
  renewaddress:
    options:
      responses:
        '200':
          description: >-
            This section defines only the contents of the response returned in
            `processed->action_traces->receipt->response` string. See [push_transaction](#post-/push_transaction)
            section for the definition of the actual response.
          schema:
            type: object
            properties:
              status:
                type: string
                description: OK
              expiration:
                type: string
                format: date-time
                title: Date/time
              fee_collected:
                title: Fee collected
                description: Amount of SUFs collected as fee
                type: integer
          examples:
            application/json:
              status: OK
              expiration: '2020-09-11T18:30:56'
              fee_collected: 30000000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO address"
            * "FIO Domain expired"
            * "Invalid fee value"
            * "Insufficient funds to cover fee"
            * "Fee exceeds supplied maximum"
            * "TPID must be empty or valid FIO address"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: max_fee
                  value: '200'
                  error: Fee exceeds supplied maximum.
        '403':
          description: |-
            Possible triggers:
            * Signer's FIO Public Key does not match actor
          schema:
            type: object
            properties: {}
            description: >-
              HTTP code 403 is returned when the request signature is not valid
              or this user is not allowed to sign this transaction.
            title: Error 403
          examples:
            application/json:
              type: invalid_signature
              message: Request signature not valid or not allowed.
      summary: 'Renew FIO Address'
      description: >-
        This section defines the object which needs to be created before it's
        packed and signed for [push_transaction](#post-/push_transaction) and the response object returned in
        `processed->action_traces->receipt->response` string.

        ### `actions` parameters

        * account: `fio.address`

        * name: `renewaddress`
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_address:
                type: string
                title: FIO Address
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
              max_fee:
                type: integer
                title: Max fee
                description: >-
                  Maximum amount of SUFs the user is willing to pay for fee.
                  Should be preceded by /get_fee for correct value.
              tpid:
                type: string
                title: TPID
                description: |-
                  * FIO Address of the wallet which generates this transaction.
                  * This FIO Address will be paid 10% of the fee.
                  * See FIO Protocol#TPIDs for details.
                  * Set to empty if not known.
              actor:
                type: string
                title: Actor
                description: 'See [Generating actor](/actor)'
            required:
              - fio_address
              - max_fee
              - tpid
              - actor
            example:
              fio_address: purse@alice
              max_fee: 30000000000
              tpid: rewards@wallet
              actor: aftyershcu22
          description: >-
            This section defines the `data` object which needs to be created before
            it's packed and signed.
      operationId: renew_fio_address_model
      tags:
        - Actions
  addaddress:
    options:
      responses:
        '200':
          description: >-
            This section defines only the contents of the response returned in
            `processed->action_traces->receipt->response` string. See [push_transaction](#post-/push_transaction)
            section for the definition of the actual response.
          schema:
            type: object
            properties:
              status:
                type: string
                description: OK
              fee_collected:
                title: Fee collected
                description: Amount of SUFs collected as fee
                type: integer
          examples:
            application/json:
              status: OK
              fee_collected: 0
        '400':
          description: >-
            Possible error messages:

            * "Invalid Chain Code"

            * "Invalid token code format"

            * "Invalid public address format"

            * "Min 1, Max 5 public addresses are allowed"

            * "FIO Address expired"

            * "FIO Domain expired"

            * "Invalid fee value"

            * "Insufficient funds to cover fee"

            * "Fee exceeds supplied maximum"

            * "TPID must be empty or valid FIO address"

            * "Maximum token codes mapped to single FIO Address reached. Only
            100 can be mapped."
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: token_code
                  value: BTC!
                  error: Invalid token code format
        '403':
          description: |-
            Possible triggers:
            * Signer's FIO Public Key does not match actor
            * FIO Address not owned by FIO Public Key in signature
          schema:
            type: object
            properties: {}
            description: >-
              HTTP code 403 is returned when the request signature is not valid
              or this user is not allowed to sign this transaction.
            title: Error 403
          examples:
            application/json:
              type: invalid_signature
              message: Request signature not valid or not allowed.
        '404':
          description: |-
            Possible error messages:
            * "FIO Address not found"
          examples:
            application/json:
              message: FIO Address not found
      summary: 'Add public address'
      description: >-
        This section defines the object which needs to be created before it's
        packed and signed for [push_transaction](#post-/push_transaction) and the response object returned in
        `processed->action_traces->receipt->response` string.

        ### `actions` parameters

        * account: `fio.address`

        * name: `addaddress`
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_address:
                type: string
                title: FIO Address
                minLength: 3
                maxLength: 64
                pattern: >-
                  ^(?:(?=.{3,64}$)[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))@[a-zA-Z0-9]{1}(?:(?!-{2,}))[a-zA-Z0-9-]*(?:(?<!-))$)
              public_addresses:
                type: array
                uniqueItems: true
                minItems: 1
                maxItems: 5
                description: >-
                  Maximum of 5 token codes can be mapped to single FIO Address
                  at any one time. See [Mapping Public
                  Addresses](/wallet-integration-guide/mapping-pub-addresses)
                  for details.
                items:
                  type: object
                  properties:
                    chain_code:
                      type: string
                      title: Token/chain code
                      minLength: 1
                      maxLength: 10
                      pattern: '^[A-Z0-9]+$'
                      description: >
                        Chain code identifies the blockchain, while token code
                        identifies a token on that blockchain. For example: for
                        USDC: chain_code = ETH and token_code = USDC, for BTC:
                        chain_code = BTC and token_code = BTC. For list of chain
                        codes you can refer to
                        [SLIP-44](https://github.com/satoshilabs/slips/blob/master/slip-0044.md)
                        and for list of token code refer to the specific
                        blockchain.
                    token_code:
                      type: string
                      title: Token/chain code
                      minLength: 1
                      maxLength: 10
                      pattern: '^[A-Z0-9]+$'
                      description: >
                        Chain code identifies the blockchain, while token code
                        identifies a token on that blockchain. For example: for
                        USDC: chain_code = ETH and token_code = USDC, for BTC:
                        chain_code = BTC and token_code = BTC. For list of chain
                        codes you can refer to
                        [SLIP-44](https://github.com/satoshilabs/slips/blob/master/slip-0044.md)
                        and for list of token code refer to the specific
                        blockchain.
                    public_address:
                      type: object
                      title: Native Blockchain Public Address
                      description: "This is the public address on another blockchain. Both integrated addresses as well as URI Scheme are supported.\n\n**Integrated Address**\nIf the blockchain supports it, an integrated address may be passed in just like standard public address. The FIO protocol does not perform validation on the passed string.\n\n**URI Scheme**\nFIO Protocol will support formatting of public addresses using URI were certain attributes are appended to the public address following a '?' and delimited with '&'. To allow inter-wallet operability, the following standardized parameters will be supported in official FIO Protocol SDKs.\n\n**Parameters**\n* dt - Ripple\n* memo - Any - use as generic memo field\n* memo_id -\tStellar\n* memo_text -\tStellar\n* memo_hash -\tStellar\n* memo_return -\tStellar\n* payment_id - Monero\n"
                  required:
                    - chain_code
                    - token_code
                    - public_address
              max_fee:
                type: integer
                title: Max fee
                description: >-
                  Maximum amount of SUFs the user is willing to pay for fee.
                  Should be preceded by /get_fee for correct value.
              tpid:
                type: string
                title: TPID
                description: |-
                  * FIO Address of the wallet which generates this transaction.
                  * This FIO Address will be paid 10% of the fee.
                  * See FIO Protocol#TPIDs for details.
                  * Set to empty if not known.
              actor:
                type: string
                title: Actor
                description: 'See [Generating actor](/actor)'
            required:
              - fio_address
              - public_addresses
              - max_fee
              - tpid
              - actor
            example:
              fio_address: purse@alice
              public_addresses:
                - chain_code: BTC
                  token_code: BTC
                  public_address: 1PMycacnJaSqwwJqjawXBErnLsZ7RkXUAs
                - chain_code: ETH
                  token_code: ETH
                  public_address: '0xab5801a7d398351b8be11c439e05c5b3259aec9b'
              max_fee: 0
              tpid: rewards@wallet
              actor: aftyershcu22
          description: >-
            This section defines the `data` object which needs to be created before
            it's packed and signed.


            Please read [Mapping Public
            Addresses](/wallet-integration-guide/mapping-pub-addresses) to
            better understand how public address mappings work.
      operationId: add_pub_address_model
      tags:
        - Actions
  setdomainpub:
    options:
      responses:
        '200':
          description: >-
            This section defines only the contents of the response returned in
            `processed->action_traces->receipt->response` string. See [push_transaction](#post-/push_transaction)
            section for the definition of the actual response.
          schema:
            type: object
            properties:
              status:
                type: string
                description: OK
              fee_collected:
                title: Fee collected
                description: Amount of SUFs collected as fee
                type: integer
          examples:
            application/json:
              status: OK
              fee_collected: 10000000
        '400':
          description: |-
            Possible error messages:
            * "Invalid FIO domain"
            * "FIO Domain expired"
            * "Only 0 or 1 allowed"
            * "Invalid fee value"
            * "Insufficient funds to cover fee"
            * "Fee exceeds supplied maximum"
            * "TPID must be empty or valid FIO address"
          schema:
            type: object
            properties:
              type:
                type: string
              message:
                type: string
              fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    error:
                      type: string
            description: >-
              HTTP code 400 is returned when request was malformed or contained
              improper values. The response body will indicate the name of the
              incorrect field, its type, and the value the service received.
            title: Error 400
          examples:
            application/json:
              type: invalid_input
              message: >-
                An invalid request was sent in, please check the nested errors
                for details.
              fields:
                - name: max_fee
                  value: '200'
                  error: Fee exceeds supplied maximum.
        '403':
          description: |-
            Possible triggers:
            * Signer's FIO Public Key does not match actor
          schema:
            type: object
            properties: {}
            description: >-
              HTTP code 403 is returned when the request signature is not valid
              or this user is not allowed to sign this transaction.
            title: Error 403
          examples:
            application/json:
              type: invalid_signature
              message: Request signature not valid or not allowed.
      summary: 'Set FIO Domain''s public flag'
      description: >-
        This section defines the object which needs to be created before it's
        packed and signed for [push_transaction](#post-/push_transaction) and the response object returned in
        `processed->action_traces->receipt->response` string.

        ### `actions` parameters

        * account: "fio.address"

        * name: `setdomainpub`
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              fio_domain:
                type: string
                title: FIO Domain
                minLength: 1
                maxLength: 62
                pattern: '^[a-z0-9-]+$'
              is_public:
                type: integer
                description: |-
                  * 1 - allows anyone to register FIO Address
                  * 0 - only owner of domain can register FIO Address
              max_fee:
                type: integer
                title: Max fee
                description: >-
                  Maximum amount of SUFs the user is willing to pay for fee.
                  Should be preceded by /get_fee for correct value.
              tpid:
                type: string
                title: TPID
                description: |-
                  * FIO Address of the wallet which generates this transaction.
                  * This FIO Address will be paid 10% of the fee.
                  * See FIO Protocol#TPIDs for details.
                  * Set to empty if not known.
              actor:
                type: string
                title: Actor
                description: 'See [Generating actor](/actor)'
            required:
              - fio_domain
              - is_public
              - max_fee
              - tpid
              - actor
            example:
              fio_domain: alice
              is_public: 1
              max_fee: 2000000000
              tpid: rewards@wallet
              actor: aftyershcu22
          description: >-
            This section defines the `data` object which needs to be created before
            it's packed and signed.
      operationId: set_fio_domain_public_model
      tags:
        - Actions
  newfundsreq:
    options:
      responses:
        '200':
          description: >-
            This section defines only the contents of the response returned in
            `processed->action_traces->receipt->response` string. See [push_transaction](#post-/push_transaction)
            section for the definition of the actual response.
          schema:
            type: object
            properties:
              fio_request_id:
                type: integer
                description: ID of FIO Request created
              status:
                type: string
[...]
