<div class="intro">
  <div class="container">

    <div class="intro__inner">
      <div class="intro__content--short">

        <header class="intro__head">
          <h1 class="intro__title">{{page.title}}</h1><!-- /.intro__title -->
        </header><!-- /.intro__head -->

      </div><!-- /.intro__content -->
    </div><!-- /.intro__inner -->

    <div class="intro__bg">
      <div class="intro__bg-image1"
        style="background-image:url({{ '/assets/img/intro-bg-dots.png' | absolute_url }})"></div>
      <!-- /.intro__bg-image1 -->
      <div class="intro__bg-image2"
        style="background-image:url({{ '/assets/img/intro.png' | absolute_url }})"></div>
      <!-- /.intro__bg-image2 -->
    </div><!-- /.intro__bg -->

  </div><!-- /.container -->
</div><!-- /.intro -->