{% if site.social_networks.twitter %}
<div class="uk-margin">
    <a href="{{ site.social_networks.twitter }}" aria-label="Twitter" rel="noopener" target="_blank">Twitter</a>
</div>
{% endif %}
{% if site.social_networks.facebook %}
<div class="uk-margin">
    <a href="{{ site.social_networks.facebook }}" aria-label="Facebook" rel="noopener" target="_blank">Facebook</a>
</div>
{% endif %}
{% if site.social_networks.flickr %}
<div class="uk-margin">
    <a href="{{ site.social_networks.flickr }}" aria-label="Flickr" rel="noopener" target="_blank">Flickr</a>
</div>
{% endif %}
{% if site.social_networks.dribbble %}
<div class="uk-margin">
    <a href="{{ site.social_networks.dribbble }}" aria-label="Dribbble" rel="noopener" target="_blank">Dribbble</a>
</div>
{% endif %}
{% if site.social_networks.instagram %}
<div class="uk-margin">
    <a href="{{ site.social_networks.instagram }}" aria-label="Instagram" rel="noopener" target="_blank">Instagram</a>
</div>
{% endif %}
{% if site.social_networks.linkedin %}
<div class="uk-margin">
    <a href="{{ site.social_networks.linkedin }}" aria-label="LinkedIn" rel="noopener" target="_blank">LinkedIn</a>
</div>
{% endif %}
{% if site.social_networks.pinterest %}
<div class="uk-margin">
    <a href="{{ site.social_networks.pinterest }}" aria-label="Pinterest" rel="noopener" target="_blank">Pinterest</a>
</div>
{% endif %}
{% if site.social_networks.vimeo %}
<div class="uk-margin">
    <a href="{{ site.social_networks.vimeo }}" aria-label="Vimeo" rel="noopener" target="_blank">Vimeo</a>
</div>
{% endif %}
{% if site.social_networks.youtube %}
<div class="uk-margin">
    <a href="{{ site.social_networks.youtube }}" aria-label="Youtube" rel="noopener" target="_blank">YouTube</a>
</div>
{% endif %}
{% if site.social_networks.github %}
<div class="uk-margin">
    <a href="{{ site.social_networks.github }}" aria-label="Github" rel="noopener" target="_blank">Github</a>
</div>
{% endif %}
