.navbar-nav {
    font-size: 1rem;
}
.subnavbar-nav {
    background-color: #30638e;
    padding-top: 15px;
    margin: 0;
    min-width: 200px;
    border: none;
    box-shadow: none;
    font-size: 0.8rem;
}
.nav-item {
    position: relative;
}

.navbar-nav .nav-item:hover .subnavbar-nav {
    display: block;
}

@media(min-width:992px) {
    .td-max-width-on-larger-screens,
    .td-content>pre,
    .td-content>.highlight,
    .td-content>.lead,
    .td-content>h1,
    .td-content>h2,
    .td-content>ul,
    .td-content>ol,
    .td-content>p,
    .td-content>blockquote,
    .td-content>dl dd,
    .td-content .footnotes,
    .td-content>.alert {
        max-width: 95%
    }
}

#spec {
    padding-top: 62px;
}
