---
layout: default
---

<section class="section">
  <div class="section__inner">
    <div class="container">
      <div class="section__body">
        <div class="features">
          <div class="feature">
            <div class="feature__inner row not-gutters">
              <div class="feature__content col-12 col-md-6">
                <header class="feature__head">
                  <h2 class="feature__title">{{page.feature.heading}}</h2><!-- /.feature__title -->
                </header><!-- /.feature__head -->

                <div class="feature__entry">
                  <p></p>
                  <div>{{page.feature.description | markdownify}}</div>
                  <div class="intro__actions mt-4">
                    <ul class="list-buttons">
                      <li><a href="{% if page.feature.button_1.url contains 'http' %}{{page.feature.button_1.url}}{% else %}{{ page.feature.button_1.url | relative_url }}{% endif %}" class="btn btn-default btn--blue"><span>{{page.feature.button_1.text}}</span></a></li>
                      <li><a href="{% if page.feature.button_2.url contains 'http' %}{{page.feature.button_2.url}}{% else %}{{ page.feature.button_2.url | relative_url }}{% endif %}" class="btn btn-default btn--blue-light"><span>{{page.feature.button_2.text}}</span></a></li>
                    </ul>
                  </div>
                </div><!-- /.feature__entry -->
              </div><!-- /.feature__content col-12 col-md-6 -->

              <div class="feature__image col-12 col-md-6">
                {% if page.feature.image %}
                  <img src="{{ page.feature.image | absolute_url }}"
                    style="max-height:535px;" alt="{{page.feature.heading}}" data-pagespeed-url-hash="3091891063"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                {% endif %}
              </div><!-- /.feature__image col-12 col-md-6 -->
            </div><!-- /.feature__inner row not-gutters -->
          </div><!-- /.feature -->
        </div><!-- /.features -->
      </div><!-- /.section__body -->
    </div><!-- /.container -->
  </div><!-- /.section__inner -->
</section>