---
layout: default
---

<section class="section section--ecosystem">
  <div class="container">
    <header class="section__head">
        <h3 class="section__title">{{page.join.heading}}</h3><!-- /.section__title -->
        <p>{{page.join.description}}</p>
        <a href="{{page.join.button.url}}" target="_blank" class="btn btn-default btn--purple">
            <span>{{page.join.button.text}}</span>
        </a>
    </header><!-- /.section__head -->

    {% for category in site.data.ecosystem %}
      <div class="section__body">
          <div class="section__body-inner row no-gutters">
              <div class="section__body-aside col-12 col-md-12">
                  <span class="angled-bg angled-bg--md bg--static">
                      <span>{{category.category}}</span>
                  </span>
                  <div class="boxes row no-gutters">
                    {% for item in category.items %}
                      {% if item.status == 'preintegration' %}
                        {% assign status = 'box__inner--one' %}
                      {% elsif item.status == 'integrating' %}
                        {% assign status = 'box__inner--two' %}
                      {% elsif item.status == 'integrated' %}
                        {% assign status = 'box__inner--four' %}
                      {% else %}
                        {% assign status = '' %}
                      {% endif %}
                      <div class="box col-12 col-md-4">
                          <a href="{{item.url}}" target="_blank" class="box__inner {{status}}">
                              <div class="box__image">
                                  <img src="{{ item.image| absolute_url }}" alt="{{item.heading}}"
                                      data-pagespeed-url-hash="2302564691"
                                      onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                              </div><!-- /.box__image -->

                              <div class="box__content">
                                <h4>{{item.heading}}</h4>
                                <p>
                                </p>
                                <p><em>
                                  {% for list_item in item.list %}
                                    {{list_item}}<br>
                                  {% endfor %}
                                  </em></p>                                  
                              </div><!-- /.box__content -->
                          </a><!-- /.box__inner -->
                      </div><!-- /.box -->
                    {% endfor %}
                  </div><!-- /.boxes -->
              </div><!-- /.section__body-aside col-12 col-md-12 -->
          </div><!-- /.section__body-inner row no-gutters -->
      </div><!-- /.section__body -->
    {% endfor %}

    <div class="section__actions">
        <a href="{{page.join.button.url}}" target="_blank" class="btn btn-default btn--purple">
            <span>{{page.join.button.text}}</span>
        </a>
    </div><!-- /.section__actions -->

  </div><!-- /.container -->
</section><!-- /.section -->