---
layout: default
---

<div class="intro">
  <div class="container">
    <div class="intro__inner">
      <div class="intro__content">

        <header class="intro__head">
          <h1 class="intro__title">{{page.intro.heading}}</h1><!-- /.intro__title -->
        </header><!-- /.intro__head -->

        <div class="intro__entry">
          <p></p>
        </div><!-- /.intro__entry -->

        <div class="intro__actions">
          <ul class="list-buttons">
            <li>
              <a href="{% if page.intro.button_1.url contains 'http' %}{{page.intro.button_1.url}}{% else %}{{ page.intro.button_1.url | relative_url }}{% endif %}" class="btn btn-default btn--blue-light">
                <span>{{page.intro.button_1.text}}</span>
              </a>
            </li>

            <li>
              <a href="{% if page.intro.button_2.url contains 'http' %}{{page.intro.button_2.url}}{% else %}{{ page.intro.button_2.url | relative_url }}{% endif %}" class="btn btn-default btn--blue">
                <span>{{page.intro.button_2.text}}</span>
              </a>
            </li>
          </ul><!-- /.list-buttons -->
        </div><!-- /.intro__actions -->
      </div><!-- /.intro__content -->

      <div class="intro__image d-none d-lg-block">
        <img src="{{ page.intro.image | absolute_url }}" alt="{{page.intro.heading | strip_html }}"
          data-pagespeed-url-hash="824248591" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
      </div><!-- /.intro__image -->
    </div><!-- /.intro__inner -->

    <div class="intro__bg">
      <div class="intro__bg-image1"
        style="background-image:url({{ '/assets/img/intro-bg-dots.png' | absolute_url }})">
      </div><!-- /.intro__bg-image1 -->

      <div class="intro__bg-image2"
        style="background-image:url({{ '/assets/img/intro.png' | absolute_url }})"></div>
      <!-- /.intro__bg-image2 -->
    </div><!-- /.intro__bg -->

    <a href="#" class="btn-scroll">
      <i class="ico-arrow-down">
        <svg>
          <use xlink:href="#ico-arrow-down"></use>
        </svg>
      </i>
    </a>
  </div><!-- /.container -->
</div><!-- /.intro -->

<section class="section-features">
  <div class="section__inner">
    <div class="container">
      <div class="section__body">
        <div class="features">
          {% for feature in page.features %}
            {% include block-feature.html %}
          {% endfor %}
        </div><!-- /.features -->
      </div><!-- /.section__body -->

      {% if page.features_cta.url %}
        <div class="section__actions text-center">
          <a href="{% if page.features_cta.url contains 'http' %}{{page.features_cta.url}}{% else %}{{ page.features_cta.url | relative_url }}{% endif %}" target="_blank"
            class="btn btn-default btn--purple">
            <span>{{page.features_cta.text}}</span>
          </a>
        </div><!-- /.section__actions -->
      {% endif %}
    </div><!-- /.container -->
  </div><!-- /.section__inner -->

  <div class="section__bg"
    style="background-image:url({{ '/assets/img/bg-features.png' | absolute_url }})"></div>
  <!-- /.section__bg -->
</section><!-- /.section -->

<section class="section section--blue-gradient">
  <div class="section__inner">
    <div class="container">
      <header class="section__head">
        <h1 class="section__title">{{page.integrate.heading}}</h1><!-- /.section__title -->

        <p>{{page.integrate.description}}</p>
      </header><!-- /.section__head -->

      <div class="section__body">
        <div class="services row no-gutters">
          {% for item in page.integrate.cards %}
            <div class="service col-md-6 col-lg-4">
              <div class="service__image">
                <img src="{{ item.image| absolute_url }}" alt=""
                  data-pagespeed-url-hash="2453339272"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
              </div><!-- /.service__image -->

              <div class="service__content">
                <div class="service__head">
                  <h4 class="service__title">{{item.heading}}</h4><!-- /.service__title -->
                </div><!-- /.service__head -->

                <div class="service__entry">
                  <p>{{item.description}}</p>
                </div><!-- /.service__entry -->
              </div><!-- /.service__content -->
            </div><!-- /.service col-md-6 col-lg-4 -->
          {% endfor %}
        </div><!-- /.services -->
      </div><!-- /.section__body -->

      <div class="section__actions">
        <a href="{% if page.integrate.button.url contains 'http' %}{{page.integrate.button.url}}{% else %}{{ page.integrate.button.url | relative_url }}{% endif %}" target="_blank" class="btn btn-default btn--purple">
          <span>{{page.integrate.button.text}}</span>
        </a>
      </div><!-- /.section__actions -->
    </div><!-- /.container -->
  </div><!-- /.section__inner -->

  <div class="section__bg">
    <div class="section__bg-image1"
      style="background-image:url({{ '/assets/img/section-bg-dots.png' | absolute_url }})">
    </div><!-- /.section__bg-image1 -->
  </div><!-- /.section__bg -->
</section><!-- /.section section-/-blue-gradient -->

<section class="section section--companies">
  <div class="container">
    <header class="section__head">
      <h3 class="section__title">{{page.companies.heading}}</h3><!-- /.section__title -->

      <p>{{page.companies.description}}</p>
    </header><!-- /.section__head -->

    <div class="section__body">
      <div class="section__body-inner row no-gutters">
        <div class="section__body-aside col-12 col-md-12">
          <div class="boxes row no-gutters">
            {% for category in site.data.ecosystem %}
              {% for item in category.items %}
                {% unless item.featured %}
                  {% continue %}
                {% endunless %}

                {% if item.status == 'preintegration' %}
                  {% assign status = 'box__inner--one' %}
                {% elsif item.status == 'integrating' %}
                  {% assign status = 'box__inner--two' %}
                {% elsif item.status == 'integrated' %}
                  {% assign status = 'box__inner--four' %}
                {% else %}
                  {% assign status = '' %}
                {% endif %}
                <div class="box col-12 col-md-6">
                  <a href="{{item.url}}" target="_blank" class="box__inner {{status}}">
                    <div class="box__image">
                      <img src="{{ item.image| absolute_url }}" alt="{{item.heading}}"
                        data-pagespeed-url-hash="1452087172"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div><!-- /.box__image -->
                    <div class="box__content">
                      <h4>{{item.heading}}</h4>
                      <p>
                      </p>
                      <p><em>
                        {% for list_item in item.list %}
                          {{list_item}}<br>
                        {% endfor %}
                        </em></p>
                    </div><!-- /.box__content -->
                  </a><!-- /.box__inner -->
                </div><!-- /.box -->
              {% endfor %}
            {% endfor %}
          </div><!-- /.boxes -->
        </div><!-- /.section__body-aside col-12 col-md-12 -->

      </div><!-- /.section__body-inner row no-gutters -->
    </div><!-- /.section__body -->

    <div class="section__actions">
      <a href="{% if page.companies.button.url contains 'http' %}{{page.companies.button.url}}{% else %}{{ page.companies.button.url | relative_url }}{% endif %}" class="btn btn-secondary btn-secondary--md btn--gray">{{page.companies.button.text}}</a>
    </div><!-- /.section__actions -->
  </div><!-- /.container -->
</section><!-- /.section section-/-companies -->

<section class="section section--testimonials section--blue-gradient">
  <div class="section__inner">
    <div class="container">
      <header class="section__head">
        <h3 class="section__title">{{page.testimonials.heading}}</h3><!-- /.section__title -->
      </header><!-- /.section__head -->

      <div class="section__body">
        <div class="slider-testimonials">
          <div class="slider__clip">
            <div class="slider__slides owl-carousel owl-theme owl-loaded owl-drag">

              <div class="owl-stage-outer">
                <div class="owl-stage"
                  style="transition: 0.25s; width: 11336px; transform: translate3d(-3291px, 0px, 0px);">
                  {% for item in site.testimonials %}
                    <div class="owl-item" style="width: 332.667px; margin-right: 33px;">
                      <div class="slider__slide">
                        <div class="testimonial">
                          <div class="testimonial__head">
                            <i class="ico-quotes">
                              <svg>
                                <use xlink:href="#ico-quotes"></use>
                              </svg>
                            </i>
                          </div><!-- /.testimonial__head -->

                          <div class="testimonial__entry">
                            {{item.content}}
                          </div><!-- /.testimonial__entry -->

                          <footer class="testimonial__foot">
                            <h6>{{item.position}}</h6>

                            <h4>{{item.name}}</h4>
                          </footer><!-- /.testimonial__foot -->
                        </div><!-- /.testimonial -->
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                  class="owl-next"><span aria-label="Next">›</span></button></div>
              <div class="owl-dots"></div>
            </div><!-- /.slider__slides -->
          </div><!-- /.slider__clip -->
        </div><!-- /.slider -->
      </div><!-- /.section__body -->
    </div><!-- /.container -->
  </div><!-- /.section__inner -->

  <div class="section__bg">
    <div class="section__bg-image2"
      style="background-image:url({{ '/assets/img/bg-world-map.png' | absolute_url }});');">
    </div><!-- /.section__bg-image1 -->
  </div><!-- /.section__bg -->
</section><!-- /.section section-/-testimonials section-/-blue-gradient -->

<section class="section section--news">
  <div class="container">
    <header class="section__head">
      <h3 class="section__title">{{page.news.heading}}</h3><!-- /.section__title -->
    </header><!-- /.section__head -->

    <div class="section__body">
      <div class="cards cols">
        {% assign item = site.data.press | where: 'featured_blog', true | first %}
        <div class="col col--size1">
          <a href="{% if item.url contains 'http' %}{{item.url}}{% else %}{{ item.url | relative_url }}{% endif %}">
            <div class="card">

              <div class="card-image">
                <img src="{% if item.image contains 'http' %}{{item.image}}{% else %}{{ item.image | absolute_url }}{% endif %}" class="card-img-top"
                  alt="{{item.title}}" data-pagespeed-url-hash="1338133974"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
              </div><!-- /.card-image -->

              <div class="card-body">
                <h3>{{page.news.heading_blog}}</h3>
                <p>{{item.date}} - {{item.title}}</p>
              </div><!-- /.card-body -->
            </div>
          </a><!-- /.card -->
        </div><!-- /.col col-/-size1 -->

        <div class="col col--size2">
          {% assign item = site.data.press | where: 'featured_media', true | first %}
          <a
            href="{% if item.url contains 'http' %}{{item.url}}{% else %}{{ item.url | relative_url }}{% endif %}">
            <div class="card card--sm">
              <div class="card-image">
                <img src="{% if item.image contains 'http' %}{{item.image}}{% else %}{{ item.image | absolute_url }}{% endif %}" class="card-img-top"
                  alt="{{item.title}}" data-pagespeed-url-hash="4176563656"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
              </div><!-- /.card-image -->

              <div class="card-body">
                  <h3>{{page.news.heading_media}}</h3>
                <p>{{item.date}} - {{item.title}}</p>

              </div><!-- /.card-body -->
            </div><!-- /.card -->
          </a>
          {% assign item = site.data.press | where: 'featured_news', true | first %}
          <a
            href="{% if item.url contains 'http' %}{{item.url}}{% else %}{{ item.url | relative_url }}{% endif %}">
            <div class="card card--sm">
              <div class="card-image">
                <img src="{% if item.image contains 'http' %}{{item.image}}{% else %}{{ item.image | absolute_url }}{% endif %}" class="card-img-top"
                  alt="{{item.title}}" data-pagespeed-url-hash="4176563656"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
              </div><!-- /.card-image -->

              <div class="card-body">
                  <h3>{{page.news.heading_news}}</h3>
                <p>{{item.date}} - {{item.title}}</p>

              </div><!-- /.card-body -->
            </div><!-- /.card -->
          </a>
        </div><!-- /.col col-/-size2 -->
        
      </div><!-- /.cards -->
    </div><!-- /.section__body -->

    <div class="section__actions">
      <a href="{% if page.news.button.url contains 'http' %}{{page.news.button.url}}{% else %}{{ page.news.button.url | relative_url }}{% endif %}" class="btn btn-secondary btn-secondary--md btn--gray">{{page.news.button.text}}</a>
    </div><!-- /.section__actions -->
  </div><!-- /.container -->
</section><!-- /.section section-/-news -->

