---
layout: default
---

<div id="testing-keys-container" class="position-relative mt-2 mb-5">
    <div class="card">
        <h5 class="card-header">Keys for testing</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="testing-pk">Private Key</label>
                        <input type="password" class="form-control" id="testing-pk"
                               placeholder="5JpbpZ7SScKHXrLwvhzCbP4Cj3Beqo8QwWyazDoyXHZuTjb4ZyK">
                    </div>
                    <div class="form-group">
                        <label for="testing-pubkey">Public Key</label>
                        <input type="text" class="form-control" id="testing-pubkey"
                               placeholder="FIO5ReMUvFM9X12eSuAR4QKjHsGJ6qponQP36xtV7WZLPBG35dJTr">
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-end align-items-end">
                    <button id="set-keys" class="btn btn-primary px-5 mb-3">Set</button>
                    <button id="reset-keys" class="btn btn-primary px-5 mb-3 d-none">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="spinner fa-3x d-none" role="status">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>

<div class="position-relative mt-2 mb-5">
    <div class="card">
        <h5 class="card-header">Base Url</h5>
        <div class="card-body">
            <select id="fio-api-base-url">
                <option value="https://testnet.fioprotocol.io:443/v1/">https://testnet.fioprotocol.io:443/v1/</option>
                <option value="https://fio.eosusa.news/v1/">https://fio.eosusa.news/v1/</option>
            </select>
        </div>
    </div>

    <div class="spinner fa-3x d-none" role="status">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>

{{ content }}
{% include toc.html %}
{% include permalinks.html %}
{% include tags.html %}


<div id="logs" class="mt-4">

</div>
<div id="fio-request-list-container" class="mt-4 table-striped table-hover d-none">
    <table class="table">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    Payee FIO Address
                </th>
                <th>
                    Payer FIO Address
                </th>
                <th>
                    Memo
                </th>
                <th>
                    Amount
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody id="fio-request-list-table-body">
        </tbody>
    </table>
</div>

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />-->
<script src="{{ site.baseurl }}/assets/js/fiosdk/fiosdk.bundle.js"></script>
<script src="{{ site.baseurl }}/assets/js/fiosdk-examples.js"></script>
